<div class="row mt-3 working-hours-panel">
  <div class="col col-center title-4">
    <h4 class="">Horario de funcionamiento</h4>
    <div class="row" *ngFor="let schedule of this.data.restaurant.schedule">
      <div class="col-3">{{ this.getDay(schedule.day) }}</div>
      <div class="col-9">
        <mat-card> {{ schedule.opening_hour }} - {{ schedule.closing_hour }} </mat-card>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <app-button [mat-dialog-close]="true" [buttonCustomConfiguration]="backButton">Salir</app-button>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
