@import "../../../../styles.scss";

.img-logo {
  cursor: pointer;

  @include view-max(768px) {
    max-width: 100%;
    height: auto;
  }
}

.btn-normal-red {
  width: 255px;
  height: 40px;

  @include view-max(994px) {
    width: 85%;
  }

  @include view-max(768px) {
    width: 75%;
    margin-top: 11px;
  }
}
