<div class="sign-off">
  <div class="d-flex col-md-12 col-lg-12 col-xs-12 align-items-center justify-content-center title-4 ">
    <p>¿Estás seguro de cerrar sesión?</p>
  </div>
  <div class="d-flex row align-items-center justify-content-center mb-3">
    <app-button class="col-lg-5 col-md-5 col-xs-12 mt-1 mb-3" (click)="signOff()" [buttonCustomConfiguration]="
    { buttonMaterialType:'mat-raised-button', 
      buttonType: 'button',
      buttonTypeClass: 'btn-submit'}">Si</app-button>
    &nbsp;&nbsp;
    <app-button class="col-lg-5 col-md-5 col-xs-12 mt-1 mb-3" (click)="cancel()" [buttonCustomConfiguration]="
    { buttonMaterialType:'mat-raised-button', 
      buttonType: 'button',
      buttonTypeClass: 'btn-submit'}">No</app-button>
  </div>
</div>