@import "../../../styles.scss";

.recover-password {
  margin-top: 5rem;
}

@include view-min(1400px) {
  .container-height {
    height: calc(100vh - 480px);
  }
}

h2.title-3 {
  font-weight: bold;
  padding-top: 18px;
  margin-bottom: 20px;
}

@include view-max(576px) {
  h2.title-3 {
    font-size: 28px;
    line-height: 2rem;
  }
}

mat-form-field {
  width: 80%;
}

