<div class="img-container">
  <app-header [isWhiteLogo]="true"></app-header>
  <div class="recover-password container align-items-center justify-content-center">
    <mat-card class="col mat-elevation-z8 mt-5 mb-5 p-5 align-items-center justify-content-center">
      <div class="row align-items-center justify-content-center mx-5">
        <div class="col d-flex justify-content-center">
          <h2 class="title-3 "> Recuperar contraseña</h2>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-center mx-5">
        <div class="col d-flex">
          <p style="text-align: justify;">{{this.passwordRecoverMessage}}</p>
        </div>
      </div>
      <div class="row d-flex mx-4 align-items-center justify-content-center my-5">
        <div class="d-flex align-items-center justify-content-center col-12 col-md-12 col-lg-12 mx-1">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input [formControl]="email" matInput>
          </mat-form-field>
        </div>
        <div class="d-flex align-items-center justify-content-center col-xs-12 col-md-10 col-lg-10 mx-1">
          <app-button class="col-12 col-xs-12" (click)="restoredPassword()"
            [buttonCustomConfiguration]="this.custombutton">
            Enviar
          </app-button>
        </div>
      </div>
    </mat-card>
  </div>

  <app-footer></app-footer>
</div>
<app-spinner></app-spinner>