server {
	gzip on;
    gzip_types      text/plain application/xml;
    gzip_proxied    no-cache no-store private expired auth;
    gzip_min_length 1000;

	listen $PORT default_server;
	listen [::]:$PORT default_server;
	server_name tyne.cl www.tyne.cl;

	if ($http_x_forwarded_proto = "http") {
		return 301 https://$server_name$request_uri;
	}

 	root   /usr/share/nginx/html;
	index  index.html;
	try_files $uri $uri/ /index.html?$args;
}