mat-select {
    border: 1px solid #E10000;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    height: 30px;
}

mat-card {
    background-color: #fffdfa;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

mat-option {
    color: #3C0000;
}

h1, h2, h3, h4, h5, h6 {
    color: #3C0000;
}

.div-resultados {
    padding-left: 55px;
}

.div-ordenar-locales {
    text-align: right;
    padding-top: 30px;
}

.content {
    padding: 10px;
}

.nombre-local {
    color: #3C0000;
    font-size: 17px;
    font-weight: bold;
}

.valoracion-local {
    color: #3C0000;
    font-size: 17px;
    font-weight: bold;
}

.descripcion-local {
    color: #3C0000;
    font-family: "Museo Sans";
    font-size: 18px;
}

.icon-favorite {
    color: red;
    font-size: 30px;
    padding-top: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contenido-locales {
    padding-bottom: 30px;
}

