 .btn {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    width: 158px;
  }


  .mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
 }