 .btn {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    background-color: #E10000;
    color: white;
    border-radius: 10px;
    font-weight: lighter;
  }
  