<div class="response-pay-rectangle col-md-12 col-lg-12 col-sm-12">
  <div class="img-success-pay col-md-12 col-sm-12 col-lg-12">
    <img src="../../../../assets/img/succes-pay.svg" alt="" />
  </div>

  <div class="position-elements col-md-12 col-sm-12 col-lg-12">
    <div class="title col-md-12 col-sm-12 col-lg-12"><h3>Pago Exitoso</h3></div>
    <div class="position-elements sub-title col-md-12 col-sm-12 col-lg-12">
      <p>Su pago fue procesado correctamente.</p>
      <p>El detalle de la compra fue enviada a su correo registrado en Tyne</p>
    </div>
  </div>
  <div class="aligne-center-buttons position-elements col-md-12 col-sm-6 col-lg-12">
    <button type="submit" class="btn-normal-red">Volver al local</button> &nbsp;&nbsp;
    <button type="submit" class="btn-submit">Ver pedido</button>
  </div>
</div>
