<div class="img-container">
  <app-header [isWhiteLogo]="true"></app-header>
  <div class="recover-password container align-items-center justify-content-center">
    <mat-card class="col mat-elevation-z8 mt-5 mb-5 p-5 align-items-center justify-content-center">
      <!-- agregar icono -->
      <!-- Variar el contenido -->
      <div class="row d-flex align-items-center justify-content-center mx-5">
        <div class="col d-flex">
          <p style="text-align: justify;">Se ha activado tu cuenta con éxito, ahora puedes disfrutar de la experiencia de Tyne</p>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center col-xs-12 col-md-10 col-lg-10 mx-1">
        <app-button class="col-12 col-xs-12" 
          [buttonCustomConfiguration]="this.custombutton">
         Ir a página de inicio
        </app-button>
      </div>
    </mat-card>
  </div>

  <app-footer></app-footer>
</div>
<app-spinner></app-spinner>