.b-register-button {
  width: 100%;
  background-color: #e10000;
  color: white;
  border-radius: 10px;
  font-weight: lighter;
  margin-block: 1%;
}

.normal-button {
  width: 100%;
  background-color: #fffdfa;
  border-radius: 10px;
  color: #e10000;
  margin-block: 1%;
}

.mat-stroked-button {
  width: 100%;
  border-radius: 10px;
  border-color: #e10000;
}

.dropdown-menu {
  background: #e10000;
  border-radius: 10px;
  color: #fff;
  ::ng-deep &__content {
    border-radius: 0 0 5px 5px !important;
    & .mat-menu-item {
      color: #3c0000;
    }
    & .mat-menu-item:hover {
      background: #e10000 !important;
      color: white;
    }
  }
  ::ng-deep &__content .mat-menu-content {
    padding-top: 0 !important;
  }
}

@media only screen and (min-width: 577px) {
  .dropdown-menu {
    min-width: 160px;
    ::ng-deep &__content {
      position: absolute;
      left: -30px;
      min-width: calc(160px + 30px) !important;
    }
  }
}

@media only screen and (min-width: 992px) {
  .dropdown-menu {
    width: 100px;
    ::ng-deep &__content {
      position: absolute;
      left: -40px;
      min-width: calc(170px + 40px) !important;
    }
  }
  .cdk-overlay-pane {
    position: relative !important;
  }
}
