h1, h2, h3, h4 {
    color: #3C0000;
    font-weight: 400; 
    
}

.mat-stroked-button {
    width: 100%;
    background-color: #E10000;
    color: white;
    border-radius: 10px;
    font-weight: lighter;
}