mat-form-field {
    width: 95%;
    margin-bottom: 16px;
}

mat-label {
    color: #3C0000;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: red; 
 }
 
.register-button {
    color: white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: normal;
    background-color: #E10000;
    width: 161.93px;
    height: 43px;
}

.back-button {
    color: #E10000;
    background: white;
    border: 1px solid #E10000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
}

.next-button {
    color: white;
    background: #E10000;
    border: 1px solid #E10000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
}

.subtitulo {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #3C0000;
}