mat-card {
    background-color: #fffdfa;
}

mat-form-field {
    width: 95%;
    margin-bottom: 16px;
}

.day-schedule {
    width: 100%;
}

.register-button {
    color: white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: normal;
    background-color: #E10000;
    width: 161.93px;
    height: 43px;
}

.mensaje-campo-obligatorio {
    color: #3C0000;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

mat-label {
    color: #3C0000;
}