<!--Header-->
<app-header [isWhiteLogo]="false"></app-header>

<!--Content-->
<div class="container">

    <mat-card>

        <!--Tittle-->
        <div class="row pl-5">
            <div class="col">
                <h3 class="titulo-3">Registro para Locales</h3>
            </div>
        </div>

        <!--Description-->
        <div class="row pl-5">
            <div class="col">
                <p class="parrafo">Registra tu local y preparate para obtener mayores resultados y brindar más y nuevas
                    experiencias a tus comensales.</p>
            </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <!-- Sobre el representante legal -->
            <div class="row pl-5">
                <div class="col">
                    <h4 class="titulo-4">Sobre el representante legal:</h4>
                </div>
            </div>

            <div class="row pl-5">

                <!--Nombre del representante-->
                <div class="col">
                    <label class="label-input-name">Nombre *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="name" type="text">
                        <mat-error>
                            {{getNameError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Apellidos del representante-->
                <div class="col">
                    <label class="label-input-name">Apellidos *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="lastName" type="text">
                        <mat-error>
                            {{getLastNameError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Rut del representante-->
                <div class="col">
                    <label class="label-input-name">Rut *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="rut" type="text" maxlength="9" formatRut>
                        <mat-error>
                            {{getRutError()}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row pl-5 mb-4">

                <!--Email del representante-->
                <div class="col">
                    <label class="label-input-name">Email *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="email" type="text">
                        <mat-error>
                            {{getEmailError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Confirmacion email representante-->
                <div class="col">
                    <label class="label-input-name">Confirme su email *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="emailConfirm" type="text">
                        <mat-error>
                            {{getEmailConfirmError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Telefono del representante-->
                <div class="col">
                    <label class="label-input-name">Teléfono de contacto *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="contactNumber" type="text" placeholder="+XX X XXXX XXXX"
                            phoneMask>
                        <mat-error>
                            {{getContactNumberError()}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- Sobre el local -->
            <div class="row pl-5">
                <div class="col">
                    <h4 class="titulo-4">Sobre el local:</h4>
                </div>
            </div>

            <div class="row pl-5">

                <!--Nombre razón social-->
                <div class="col">
                    <label class="label-input-name">Razón social *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="nameCompany" type="text">
                        <mat-error>
                            {{getNameCompanyError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Giro del local-->
                <div class="col">
                    <label class="label-input-name">Giro del local *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="businessLine" type="text">
                        <mat-error>
                            {{getBusinessLineError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Rut del local-->
                <div class="col">
                    <label class="label-input-name">Rut Local *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="rutLocal" type="text" maxlength="9" formatRut>
                        <mat-error>
                            {{getRutLocalError()}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row pl-5">

                <!--Datos de la calle-->
                <div class="col">
                    <label class="label-input-name">Calle *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="address" type="text">
                        <mat-error>
                            {{getAddressError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Datos del número de dirección-->
                <div class="col">
                    <label class="label-input-name">Número *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="number" type="text">
                        <mat-error>
                            {{getNumberError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Datos de la región-->
                <div class="col">
                    <label class="label-input-name">Ingrese región *</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="city" (selectionChange)="getStates()">
                            <mat-option value="0">Seleccionar...</mat-option>
                            <mat-option [value]="x.id" *ngFor="let x of cities">{{x.name}}</mat-option>
                        </mat-select>
                        <mat-error>
                            {{getCityError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row pl-5">

                <!--Datos de la comuna-->
                <div class="col-4">
                    <label class="label-input-name">Ingrese comuna *</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="state">
                            <mat-option value="0">Seleccionar...</mat-option>
                            <mat-option [value]="x.id" *ngFor="let x of states">{{x.name}}</mat-option>
                        </mat-select>
                        <mat-error>
                            {{getStateError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-4">
                    <label class="label-input-name">¿Tienes Mascota? *</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="havePet">
                            <mat-option value="0">No</mat-option>
                            <mat-option value="1">Si</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <!-- Datos bancarios -->
            <div class="row pl-5">
                <div class="col">
                    <h4 class="titulo-4">Datos bancarios:</h4>
                </div>
            </div>

            <div class="row pl-5">

                <!--Rut titulas-->
                <div class="col">
                    <label class="label-input-name">Rut titular de la cuenta *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="rutAccountOwner" type="text" maxlength="9" formatRut>
                        <mat-error>
                            {{getRutAccountOwnerError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Nombre titular de la cuenta-->
                <div class="col">
                    <label class="label-input-name">Nombre titular de la cuenta *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="nameAccountOwner" type="text">
                        <mat-error>
                            {{getNameAccountOwnerError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Número de cuenta-->
                <div class="col">
                    <label class="label-input-name">Numero de cuenta *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="accountNumber" type="text">
                        <mat-error>
                            {{getAccountNumberError()}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-4 pl-5 justify-content-start">

                <!--Banco-->
                <div class="col-lg-4 col-md-6">
                    <label class="label-input-name">Banco *</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="bank">
                            <mat-option value="0">Seleccionar...</mat-option>
                            <mat-option [value]="x.id" *ngFor="let x of banks">{{x.name}}</mat-option>
                        </mat-select>
                        <mat-error>
                            {{getBankError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Tipo de cuenta-->
                <div class="col-lg-4 col-md-6">
                    <label class="label-input-name">Tipo de cuenta *</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="accountType">
                            <mat-option value="0">Seleccione...</mat-option>
                            <mat-option value="1">Cuenta</mat-option>
                        </mat-select>
                        <mat-error>
                            {{getAccountTypeError()}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- Horario funcionamiento -->
            <div class="row pl-5">
                <div class="col">
                    <h4 class="titulo-4">Horario funcionamiento:</h4>
                </div>
            </div>

            <!-- Grid anidada. Row principal se divide en 3 columnas, y cada una de ellas teiene 2 rows dentro(row titulo, row contenido). -->
            <div class="row pl-5 mb-5">

                <div class="col-lg-4 col-md-6 col-sm-8">

                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6">
                            <label class="label-input-name">Apertura *</label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-5">
                            <mat-form-field appearance="outline">
                                <input formControlName="hourOpening" class="day-schedule" matInput placeholder="hh"
                                    type="number">
                                <mat-error>
                                    {{getHourOpeningError()}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-1">
                            <h4>:</h4>
                        </div>
                        <div class="col-sm-5">
                            <mat-form-field appearance="outline">
                                <input formControlName="minutesOpening" class="day-schedule" matInput placeholder="mm"
                                    type="number">
                                <mat-error>
                                    {{getMinutesOpeningError()}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">

                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6">
                            <label class="label-input-name">Cierre *</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <mat-form-field appearance="outline">
                                <input formControlName="hourClosure" class="day-schedule" matInput placeholder="hh"
                                    type="number">
                                <mat-error>
                                    {{getHourClosureError()}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-1">
                            <h4>:</h4>
                        </div>
                        <div class="col-sm-5">
                            <mat-form-field appearance="outline">
                                <input formControlName="minutesClosure" class="day-schedule" matInput placeholder="mm"
                                    type="number">
                                <mat-error>
                                    {{getMinutesClosureError()}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">

                    <div class="row">
                        <div class="col">
                            <label class="label-input-name">Días de funcionamiento *</label>
                            <mat-form-field appearance="outline">
                                <mat-select multiple formControlName="days">
                                    <mat-option *ngFor="let x of days" [value]="x">{{x.name}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    {{getDaysError()}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Contraseña y submit. -->
            <div class="row pl-5 mb-5">

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label class="label-input-name">Contraseña *</label>
                    <mat-form-field appearance="outline">
                        <input formControlName="password" matInput type="password">
                        <mat-error>
                            {{getPasswordError()}}
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label class="label-input-name">Repite tu contraseña *</label>
                    <mat-form-field appearance="outline">
                        <input formControlName="passwordConfirm" matInput type="password">
                        <mat-error>
                            {{getPasswordConfirmError()}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 pl-5 pt-2">
                    <button type="submit" class="register-button" mat-raised-button>
                        ¡Listo!
                    </button>
                </div>

            </div>

            <div class="row pl-5">
                <div class="col">
                    <p class="mensaje-campo-obligatorio">* Campos obligatorios</p>
                </div>
            </div>

        </form>

    </mat-card>

</div>

<!--Footer-->
<app-footer></app-footer>