<!--Header-->
<app-header [isWhiteLogo]="false"></app-header>

<!--Content-->
<div class="container">

    <mat-card>

        <div class="row pl-5">
            <div class="col">
                <h3 class="titulo-3">Registro para Locales</h3>
            </div>
        </div>

        <div class="row pl-5">
            <div class="col">
                <p class="parrafo">Registra tu local y preparate para obtener mayores resultados y brindar más y nuevas
                    experiencias a tus comensales.</p>
            </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <!-- Sobre el representante legal -->
            <div class="row pl-5">
                <div class="col">
                    <h4 class="titulo-4">Sobre el representante legal:</h4>
                </div>
            </div>

            <div class="row pl-5">
                <div class="col">
                    <!--Nombre del representante-->
                    <label class="label-input-name">Nombre *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="name" type="text">
                        <mat-error>
                            {{getNameError()}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <!--Apellidos del representante-->
                    <label class="label-input-name">Apellidos *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="lastName" type="text">
                        <mat-error>
                            {{getLastNameError()}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <label class="label-input-name">Rut *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="rut" type="text" maxlength="12" [ngModel]="rut | rut" (ngModelChange)="rut=$event">
                        <mat-error>
                            {{getRutError()}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row pl-5 mb-4">
                <div class="col">
                    <label class="label-input-name">Email *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="email" type="text">
                        <mat-error
                            *ngIf="form.get('email').invalid && form.get('email').dirty && form.get('email').hasError('pattern')">
                            Debes ingresar tu mail!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <label class="label-input-name">Confirme su email *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="emailConfirm" type="text">
                    </mat-form-field>
                </div>
                <div class="col">
                    <label class="label-input-name">Teléfono de contacto *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="contactNumber" type="text" placeholder="+XX X XXXX XXXX">
                        <mat-error *ngIf="form.get('contactNumber').invalid && form.get('contactNumber').dirty">
                            Debes ingresar un teléfono de contacto!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- Sobre el local -->
            <div class="row pl-5">
                <div class="col">
                    <h4 class="titulo-4">Sobre el local:</h4>
                </div>
            </div>

            <div class="row pl-5">
                <div class="col">
                    <label class="label-input-name">Razón social *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="socialReason" type="text">
                        <mat-error *ngIf="form.get('socialReason').invalid && form.get('socialReason').dirty">
                            Debes ingresar una razón social!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <label class="label-input-name">Giro del local *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="localTurn" type="text">
                        <mat-error *ngIf="form.get('localTurn').invalid && form.get('localTurn').dirty">
                            Debes ingresar un giro de local!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <label class="label-input-name">Rut Local *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="rutLocal" type="text">
                        <mat-error *ngIf="form.get('rutLocal').invalid && form.get('rutLocal').dirty">
                            Debes ingresar un rut de local!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row pl-5">

                <!--Datos de la calle-->
                <div class="col">
                    <label class="label-input-name">Calle *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="address" type="text">
                    </mat-form-field>
                </div>

                <!--Datos del número de dirección-->
                <div class="col">
                    <label class="label-input-name">Número *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="number" type="text">
                    </mat-form-field>
                </div>

                <!--Datos de la región-->
                <div class="col">
                    <label class="label-input-name">Ingrese región *</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="city" (selectionChange)="getStates()">
                            <mat-option value="0">Seleccionar...</mat-option>
                            <mat-option [value]="x.id" *ngFor="let x of cities">{{x.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="row pl-5">

                <!--Datos de la comuna-->
                <div class="col-4">
                    <label class="label-input-name">Ingrese comuna *</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="state">
                            <mat-option value="0">Seleccionar...</mat-option>
                            <mat-option [value]="x.id" *ngFor="let x of states">{{x.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-4">
                    <label class="label-input-name">¿Tienes Mascota? *</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="state">
                            <mat-option value="0">No</mat-option>
                            <mat-option value="1">Si</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <!-- Datos bancarios -->
            <div class="row pl-5">
                <div class="col">
                    <h4 class="titulo-4">Datos bancarios:</h4>
                </div>
            </div>

            <div class="row pl-5">
                <div class="col">
                    <label class="label-input-name">Rut titular de la cuenta *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="rutAccountOwner" type="text">
                        <mat-error *ngIf="form.get('rutAccountOwner').invalid && form.get('rutAccountOwner').dirty">
                            Debes ingresar el rut del titular de cuenta!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <label class="label-input-name">Nombre titular de la cuenta *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="nameAccountOwner" type="text">
                        <mat-error *ngIf="form.get('nameAccountOwner').invalid && form.get('nameAccountOwner').dirty">
                            Debes ingresar el nombre del titular de cuenta!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <label class="label-input-name">Numero de cuenta *</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="accountNumber" type="text">
                        <mat-error *ngIf="form.get('accountNumber').invalid && form.get('accountNumber').dirty">
                            Debes ingresar el número de cuenta!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-4 pl-5 justify-content-start">
                <div class="col-lg-4 col-md-6">
                    <label class="label-input-name">Banco *</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="bank">
                            <mat-option value="0">Seleccionar...</mat-option>
                            <mat-option [value]="x.id" *ngFor="let x of banks">{{x.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label class="label-input-name">Tipo de cuenta *</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="accountType">
                            <mat-option value="cuenta">Cuenta</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('accountType').invalid && form.get('accountType').dirty">
                            Debes escoger un tipo de cuenta!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- Horario funcionamiento -->
            <div class="row pl-5">
                <div class="col">
                    <h4 class="titulo-4">Horario funcionamiento:</h4>
                </div>
            </div>

            <!-- Grid anidada. Row principal se divide en 3 columnas, y cada una de ellas teiene 2 rows dentro(row titulo, row contenido). -->
            <div class="row pl-5 mb-5">

                <div class="col-lg-4 col-md-6 col-sm-8">

                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6">
                            <label class="label-input-name">Apertura *</label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-5">
                            <mat-form-field appearance="outline">
                                <input formControlName="hourOpening" class="day-schedule" matInput placeholder="hh"
                                    type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-1">
                            <h4>:</h4>
                        </div>
                        <div class="col-sm-5">
                            <mat-form-field appearance="outline">
                                <input formControlName="minutesOpening" class="day-schedule" matInput placeholder="mm"
                                    type="text">
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">

                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6">
                            <label class="label-input-name">Cierre *</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <mat-form-field appearance="outline">
                                <input formControlName="hourClosure" class="day-schedule" matInput placeholder="hh"
                                    type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-1">
                            <h4>:</h4>
                        </div>
                        <div class="col-sm-5">
                            <mat-form-field appearance="outline">
                                <input formControlName="minutesClosure" class="day-schedule" matInput placeholder="mm"
                                    type="text">
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <!-- <div class="row">
                        <div class="col">
                            <label class="label-input-name">Días de funcionamiento *</label>
                        </div>
                    </div> -->
                    <div class="row">
                        <!-- <div *ngFor="let day of days; let i=index" class="col-sm-2">
                            <mat-checkbox [value]="day.value" (change)="onDaysCheckboxChange($event)">{{day.name}}
                            </mat-checkbox>
                        </div> -->
                        <div class="col">
                            <label class="label-input-name">Días de funcionamiento *</label>
                            <mat-form-field appearance="outline">
                                <mat-select multiple>
                                    <mat-option *ngFor="let x of days" [value]="x">{{x.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <mat-error *ngIf="form.controls['days'].errors?.required">
                                Debes escoger al menos 1 día
                            </mat-error> -->
                        </div>
                    </div>
                </div>

            </div>

            <!-- Contraseña y submit. -->
            <div class="row pl-5 mb-5">

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label class="label-input-name">Contraseña *</label>
                    <mat-form-field appearance="outline">
                        <input formControlName="password" matInput formControlName="name" type="password">
                        <mat-error *ngIf="this.form.controls['password'].errors?.required">
                            Debes ingresar una contraseña!
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label class="label-input-name">Repite tu contraseña *</label>
                    <mat-form-field appearance="outline">
                        <input formControlName="passwordConfirm" matInput formControlName="name" type="password">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 pl-5 pt-2">
                    <button type="submit" class="register-button" mat-raised-button>
                        ¡Listo!
                    </button>
                </div>

            </div>

            <div class="row pl-5">
                <div class="col">
                    <p class="mensaje-campo-obligatorio">* Campos obligatorios</p>
                </div>
            </div>

        </form>

    </mat-card>

</div>

<!--Footer-->
<app-footer></app-footer>