.mat-card {
    border-radius: 10px;
    background-color: #FFFDFA;
    opacity: 0.8;
    box-shadow: 0px 3px 12px grey !important;
    margin-bottom: 10%;
}

mat-card-title {
    color: #3c0000;
}

mat-form-field {
    font-weight: bold;
    width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #3C0000;
    background-color: white;
}
  
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #3C0000;
}

button {
    width: 70%;
    line-height: 2.3em;
    margin-top: .8em;
    color: white;
    background-color: #E10000;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
}

h2 {
    color: #3C0000;
    font-weight: 500;
}



