<!--Header-->
<app-shared-header [isWhiteLogo]="false"></app-shared-header>

<!--Content-->
<div class="container">

    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Preguntas Frecuentes</h1>
        </div>
    </div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Como registro mi restaurante en Tyne?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Visite nuestra página web www.tyneapp.com, dé click en “Une tu local”, llene los campos de contacto y lo
                llamaremos en un plazo no mayor a 24 hrs.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="divider"></div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué hago como locatario si un comensal no llega a la hora y día determinado de la reserva?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Le pagaremos el total de su plato sin mayores problemas, para ello revise las políticas de reembolso.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="divider"></div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué pasa si el restaurante no tiene el plato que pedí?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                El local puede negociar un cambio de menú en el instante en caso de falta de stock, de otro modo, el
                local inclusive podría reembolsar in situ el dinero del platillo
                en caso de que no se llegue acuerdo, recuerde que puede escribirnos en cualquier momento a
                contacto@tyneapp.com.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="divider"></div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué métodos de pago acepta?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Para el pago de los usuarios se acepta pago por tarjeta de credito o debito, para el pago hacia nuestros
                locales registrados, se hace por deposito en cuenta bancaria.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="divider"></div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo me aseguro que se haga el pago de mis ventas?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Se firmará contrato de colaboración, donde una de nuestras cláusulas es el compromiso de mantener
                contacto directo tanto por parte de Tyne con el local,
                como del restaurante con Tyne, adicionalmente se notificará cuando los pagos estén realizados.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="divider"></div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cuánto dura el servicio de Tyne?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                El servicio de Tyne para restaurantes siempre será gratis.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="divider"></div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Es seguro, mis datos son confidenciales?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Nuestro equipo informático garantiza la total seguridad y la no difusión de sus datos personales.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="divider"></div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cuanto gano usando la App?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                El 100% de los platos, dado que Tyne cobra el 25% que se suma sobre el total comprado por el usuario,
                eso quiere decir que el valor por la comida irá en total beneficio hacia nuestros socios locales.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="divider"></div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué sucede si no me llega el dinero?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Puede ponerse en contacto de manera inmediata con nuestro equipo y le solucionaremos en un tiempo no
                mayor a 48 hrs hábiles.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="divider"></div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Sí no me funciona la app en el pago, reserva, otros, quién y cómo lo solucionaría?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Como usuario puede escribirnos reportando la falla técnica a contacto@tyneapp.com y nos pondremos en
                contacto para evaluar la solución que mejor se ajuste a su necesidad
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="divider"></div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué dispositivos necesito para usar Tyne?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Un smartphone con conexión estable a Internet o un computador de escritorio, laptop, similares con
                conexión a Internet.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="divider"></div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cuánto tiempo se necesita para implementar el sistema en el local?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Basta con solo registrarse y editar su perfil al igual que una red social.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

</div>

<!--Footer-->
<app-shared-footer></app-shared-footer>