<div class="img-container">
  <app-header [isWhiteLogo]="true"></app-header>
  <div class="container mb-3" style="margin-top: 13%">
    <div class="row">
      <div class="col-lg-12 d-flex align-items-center justify-content-center">
        <p class="text">
          La página que buscas<br /><span class="ml-lg-5">no fue encontrada</span>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex align-items-center justify-content-center">
        <button class="btn-submit" (click)="goToHome()">
          Volver al inicio
        </button>
      </div>
    </div>
    <div class="row" style="margin-top: 40%"></div>
  </div>
</div>
