.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  width: 100%;
  height: 400px;
}

@media only screen and (max-width: 1024px) {
  .mySwiper {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .mySwiper {
    height: 250px;
  }
}

@media only screen and (max-width: 425px) {
  .mySwiper {
    height: 200px;
  }
}

@media only screen and (max-width: 320px) {
  .mySwiper {
    height: 150px;
  }
}
