<mat-card class="info-card">
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ab suscipit, reiciendis hic quia sunt laborum ducimus qui eum magnam consequuntur? 
            Ipsa beatae ad pariatur dolorum iure quasi, consequatur unde labore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ab suscipit, reiciendis hic quia sunt laborum ducimus qui eum magnam consequuntur? 
            Ipsa beatae ad pariatur dolorum iure quasi, consequatur unde labore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ab suscipit, reiciendis hic quia sunt laborum ducimus qui eum magnam consequuntur? 
            Ipsa beatae ad pariatur dolorum iure quasi, consequatur unde labore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ab suscipit, reiciendis hic quia sunt laborum ducimus qui eum magnam consequuntur? 
            Ipsa beatae ad pariatur dolorum iure quasi, consequatur unde labore.
        </p>
    </mat-card-content>
</mat-card>
