<div class="container pb-4 pb-lg-5">
  <div class="row mb-3 pt-3 align-items-center">
    <div class="col-6 col-lg-5">
      <div class="logo">
        <img [src]="getLogo()" class="img-logo" routerLink="/">
      </div>
    </div>
    <div class="col-6 col-lg-7 d-flex justify-content-end">
      <button class="dropdown-menu" mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu class="dropdown-menu__content" #menu="matMenu">
        <button mat-menu-item>Perfil</button>
        <button mat-menu-item>Reservas pendientes</button>
        <button mat-menu-item>Locales favoritos</button>
        <button mat-menu-item>Cerrar sesión</button>
      </mat-menu>
    </div>

  </div>

</div>
