@import "../../../../../styles.scss";


.txt-dialog {
  color: #3c0000;
  font-size: 1.6rem;
  text-align: center;
  @include view-min(992px) {
    font-size: 2.2rem;
  }
}

.wrap-inputs {
  min-width: 292px;

  & ::ng-deep .mat-form-field-outline-start {
    border-radius: 10px 0 0 10px;
    min-width: 10px;
  }
  & ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 10px 10px 0 !important;
  }
}

.btn-password {
  background-color: #e10000;
  border-radius: 10px;
  color: #fffdfa;
  min-width: 197px;
  min-height: 40px;
}
