mat-expansion-panel {
    background-color: #fffdfa;
    margin-top: 1.2em;
}

.divider {
    margin-bottom: 1.2em;
}

::ng-deep .mat-expansion-panel-body {
    background-color: white;
}

h1, h2, p {
    color: #3C0000;
}