@import "../../../styles.scss";
.img-container {
  background: url("../../../assets/img/background-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.response-pay-rectangle {
  position: relative;
  width: 1140px;
  height: 806px;
  top: 20px;
  display: block;
  margin: auto;

  background: #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  @include view-max(768px) {
    max-width: 90%;
    height: auto;
  }
}

.img-success-pay {
  display: flex;
  justify-content: center;

  top: 20%;
  margin: auto;
}

.title {
  top: 70%;
}

h3 {
  font-family: "Museo Sans" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #3c0000;
}

.sub-title {
  top: 70%;
}

p {
  font-family: "Museo Sans" !important;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #3c0000;
}

.btn-normal-red {
  top: 30%;
}

.btn-submit {
  top: 30%;
  border: 1px solid #e10000 !important;
}

.aligne-center-buttons {
  display: flex;
  justify-content: center;
  top: 20%;
}

.position-elements {
  height: 30%;
  position: relative;
  border-color: lawngreen;
}
