
//Base Tyne Color
$basic-light: #FFFFFF;
$basic-dark: #000000;
$primary: #3c0000;
$secondary: #E10000;
$tertiary: #ecc8c8;
$disable: #aaaaaa;
$success:  #e1faf2;
$error: #f8d7da;

//Base Social Color
$primary-facebook: #2f80ed;
