<mat-card>
    <mat-card-header>
        <mat-card-title>María dice:</mat-card-title>
        <div class="date">27/04/2021</div>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-10">
                <p>Comida muy sabrosa, sabores caseros, servicio rápido, un poco ruidoso, por eso le doy tres chefcitos.</p>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <mat-icon svgIcon="pan"></mat-icon>
                <mat-icon svgIcon="pan"></mat-icon>
                <mat-icon svgIcon="pan"></mat-icon>
                <mat-icon svgIcon="pan"></mat-icon>
                <mat-icon svgIcon="pan"></mat-icon>
            </div>
        </div>
        
        
    </mat-card-content>
</mat-card>