<div class="container">


    <img class="mb-5 mt-5" src="../../../assets/logo2 1.png" alt="Logo tyne app">

    <mat-card class="mt-5 pl-5">

        <div class="row pl-5">
            <div class="col">
                <h1>Registro para Locales</h1>
            </div>
        </div>

        <div class="row pl-5">
            <div class="col">
                <h3>Registra tu local y preparate para obtener mayores resultados y brindar más y nuevas experiencias a tus comensales. </h3>
            </div>
        </div>



        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <!-- Sobre el representante legal -->
            <div class="row pl-5">
                <div class="col">
                    <h2>Sobre el representante legal:</h2>
                </div>
            </div>

            <div class="row pl-5">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="name"
                          placeholder="Nombre"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('name').invalid && form.get('name').dirty">
                            Debes ingresar tu nombre!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="lastName"
                          placeholder="Apellido"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('lastName').invalid && form.get('lastName').dirty">
                            Debes ingresar tu Apellido!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="rut"
                          placeholder="Rut"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('rut').invalid && form.get('rut').dirty">
                            Debes ingresar tu rut!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row pl-5 mb-4">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="email"
                          placeholder="Email"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('email').invalid && form.get('email').dirty && form.get('email').hasError('pattern')">
                            Debes ingresar tu mail!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="emailConfirm"
                          placeholder="Confirme su email"
                          type="text"
                        >
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="contactNumber"
                          placeholder="Telefono de contacto"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('contactNumber').invalid && form.get('contactNumber').dirty">
                            Debes ingresar un teléfono de contacto!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- Sobre el local -->
            <div class="row pl-5">
                <div class="col">
                    <h2>Sobre el local:</h2>
                </div>
            </div>

            <div class="row pl-5">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="socialReason"
                          placeholder="Razon Social"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('socialReason').invalid && form.get('socialReason').dirty">
                            Debes ingresar una razón social!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="localTurn"
                          placeholder="Giro de Local"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('localTurn').invalid && form.get('localTurn').dirty">
                            Debes ingresar un giro de local!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="rutLocal"
                          placeholder="Rut local"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('rutLocal').invalid && form.get('rutLocal').dirty">
                            Debes ingresar un rut de local!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row pl-5">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="address"
                          placeholder="Direccion"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('address').invalid && form.get('address').dirty">
                            Debes ingresar una dirección!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="commune"
                          placeholder="Comuna"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('commune').invalid && form.get('commune').dirty">
                            Debes ingresar una comuna!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="region"
                          placeholder="Region"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('region').invalid && form.get('region').dirty">
                            Debes ingresar una región!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row pl-5 mb-3">
                <div class="col">
                    <mat-checkbox formControlName="havePet">
                        <p>¿Tienes Mascota?</p>
                    </mat-checkbox>
                </div>
            </div>

            <!-- Datos bancarios -->
            <div class="row pl-5">
                <div class="col">
                    <h2>Datos bancarios:</h2>
                </div>
            </div>

            <div class="row pl-5">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="rutAccountOwner"
                          placeholder="Rut titular de la cuenta"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('rutAccountOwner').invalid && form.get('rutAccountOwner').dirty">
                            Debes ingresar el rut del titular de cuenta!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="nameAccountOwner"
                          placeholder="Nombre titular de la cuenta"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('nameAccountOwner').invalid && form.get('nameAccountOwner').dirty">
                            Debes ingresar el nombre del titular de cuenta!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="accountNumber"
                          placeholder="Numero de cuenta"
                          type="text"
                        >
                        <mat-error *ngIf="form.get('accountNumber').invalid && form.get('accountNumber').dirty">
                            Debes ingresar el número de cuenta!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-4 pl-5 justify-content-start">
                <div class="col-lg-4 col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="bank" placeholder="Banco">
                            <mat-option value="banco">Banco</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('bank').invalid && form.get('bank').dirty">
                            Debes escoger un banco!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="accountType" placeholder="Tipo de cuenta">
                            <mat-option value="cuenta">Cuenta</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('accountType').invalid && form.get('accountType').dirty">
                            Debes escoger un tipo de cuenta!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- Horario funcionamiento -->
            <div class="row pl-5">
                <div class="col">
                    <h2>Horario funcionamiento:</h2>
                </div>
            </div>

            <!-- Grid anidada. Row principal se divide en 3 columnas, y cada una de ellas teiene 2 rows dentro(row titulo, row contenido). -->
            <div class="row pl-5 mb-5">

                <div class="col-lg-4 col-md-6 col-sm-8">

                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6">
                            <h3>Apertura</h3>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-5">
                            <mat-form-field appearance="outline">
                                <input 
                                  formControlName="hourOpening"
                                  class="day-schedule"
                                  matInput
                                  placeholder="hh"
                                  type="text"
                                >
                            </mat-form-field>
                        </div>
                        <div class="col-sm-1">
                            <h4>:</h4>
                        </div>
                        <div class="col-sm-5">
                            <mat-form-field  appearance="outline">
                                <input
                                formControlName="minutesOpening" 
                                  class="day-schedule"
                                  matInput
                                  placeholder="mm"
                                  type="text"
                                >
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">

                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6">
                            <h3>Cierre</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <mat-form-field  appearance="outline">
                                <input
                                  formControlName="hourClosure"
                                  class="day-schedule"
                                  matInput
                                  placeholder="hh"
                                  type="text"
                                >
                            </mat-form-field>
                        </div>
                        <div class="col-sm-1">
                            <h4>:</h4>
                        </div>
                        <div class="col-sm-5">
                            <mat-form-field  appearance="outline">
                                <input
                                  formControlName="minutesClosure"
                                  class="day-schedule"
                                  matInput
                                  placeholder="mm"
                                  type="text"
                                >
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">

                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6">
                            <h3>Dias de funcionamiento</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div *ngFor="let day of days; let i=index" class="col-sm-2">
                            <mat-checkbox [value]="day.value" (change)="onDaysCheckboxChange($event)">{{day.name}}</mat-checkbox>
                        </div>
                    </div>
                    <mat-error *ngIf="form.controls['days'].errors?.required">
                        Debes escoger al menos 1 día
                    </mat-error>
                </div>
                
            </div>

            <!-- Contraseña y submit. -->
            <div class="row pl-5 mb-5">

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline">
                        <input
                          formControlName="password"
                          matInput
                          formControlName="name"
                          placeholder="Contraseña"
                          type="password"
                        >
                        <mat-error *ngIf="this.form.controls['password'].errors?.required">
                            Debes ingresar una contraseña!
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline">
                        <input
                          formControlName="passwordConfirm"
                          matInput
                          formControlName="name"
                          placeholder="Repite tu contraseña"
                          type="password"
                        >
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 pl-5 pt-2">
                    <button
                     style="width:80%;"
                     type="submit"
                     class="register-button"
                     mat-raised-button>
                        ¡Listo!
                    </button>
                </div>
                
            </div>
       </form>




    </mat-card>


</div>