mat-card {
    background-color: #fffdfa;
    height: 563px;
}

h1, h2, h3, h4, h5, h6 {
    color: #3C0000;
}

.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

.nombre-local {
    color: #3C0000;
}