<div class="container">

    <!--Header-->
    <app-home-header [isWhiteLogo]="false"></app-home-header>

    <!--Search bar-->
    <app-search-bar></app-search-bar>

    <!--Título resultados y ordenar resultados-->
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-6 col-6 div-resultados">
            <h1>Resultados:</h1>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 div-ordenar-locales">
            <mat-select placeholder="Ordenar Por">
                <mat-option value="Mejor Valorados">Mejor Valorados</mat-option>
                <mat-option value="Recomendados">Recomendados</mat-option>
                <mat-option value="A - Z">A - Z</mat-option>
                <mat-option value="Mayor Precio">Mayor Precio</mat-option>
                <mat-option value="Menor Precio">Menor Precio</mat-option>
            </mat-select>
        </div>
    </div>
    
    <!--Contenido-->
    <app-search-results></app-search-results>

</div>

<!--Footer-->
<app-shared-footer></app-shared-footer>