<mat-card class="mat-elevation-z4">
  <!--Businness Name-->
  <div class="row">
    <div class="col-10 col-sm-10">
      <p class="nombre-local">
        <a (click)="redirectToBusinessDetail(business)">{{ business.branch_name | titlecase }}</a>
      </p>
      <p>{{ business.street }} {{ business.street_number }}, {{ business.state_name }}</p>
      <br>
    </div>
  </div>

  <!-- Business description -->
  <mat-card-content>
    <!-- Business Image -->
    <div><img class="img-restaurant img-card" mat-card-image [src]="business.url_image | businessImage" /></div>
    <div *ngIf="business.min_price > 0 && business.max_price > 0" class="row">
      <div class="col-6 valoracion-local">
        {{ business.min_price | currencyStandard }} - {{ business.max_price | currencyStandard }}
      </div>
    </div>
    <p class="descripcion-local">
      {{ business.description }}
    </p>
  </mat-card-content>
</mat-card>
