<div class="row mb-5 mt-5">

    <div class="col-6">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>Horario y dias de funcionamiento:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <mat-checkbox>L</mat-checkbox>
                <mat-checkbox>M</mat-checkbox>
                <mat-checkbox>M</mat-checkbox>
                <mat-checkbox>J</mat-checkbox>
                <mat-checkbox>V</mat-checkbox>
                <mat-checkbox>S</mat-checkbox>
                <mat-checkbox>D</mat-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p>Martes a Sabado 12:30 a 23:30</p>
            </div>
        </div>
    </div>

    <div class="col-3">

        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>Rango de Precio:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                
            </div>
        </div>

    </div>

    <div class="col-3">

        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>Chefcitos:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                
            </div>
        </div>

    </div>

</div>