<div class="container-fluid" style="padding:10%;">
    <app-search-bar></app-search-bar>

    <mat-card class="mat-card">
        <div class="container" style="text-align: center;">
            <h1>¡Reserva en 4 simples pasos!</h1>
        </div>

        <mat-card-content>
            <div class="row">
                <div class="col-12 col-sm-3" style="text-align: center;">
                    <h4>1. Elige un local: el más cercano o el que prefieras.</h4>
                    <div class="container" style="padding: 10%;">
                        <img src="../../../../../assets/1-elige_un_local.svg" style="width: 80%;">
                    </div>
                </div>
                <div class="col-12 col-sm-3 " style="text-align: center;">
                    <h4>2. Elige la comida y dinos para cuantos es la mesa.</h4>
                    <div class="container" style="padding: 10%;">
                        <img src="../../../../../assets/2-elige_la_comida.svg" style="width: 80%;">
                    </div>
                </div>
                <div class="col-12 col-sm-3 " style="text-align: center;">
                    <h4 class="h4">3. Haz tu reserva, paga y espera a que llegue el día.</h4>
                    <div class="container" style="padding: 10%;">
                        <img src="../../../../../assets/3-haz_tu_reserva.svg" style="width: 80%;">
                    </div>
                </div>
                <div class="col-12 col-sm-3 " style="text-align: center;">
                    <h4>4. Anda al local y disfruta sin preocupaciones.</h4>
                    <div class="container" style="padding: 10%;">
                        <img src="../../../../../assets/4-anda_al_local.svg" style="width: 80%;">
                    </div>
                </div>
            </div>
        </mat-card-content>

    </mat-card>

</div>