<div class="container pt-5">
  <app-search-bar></app-search-bar>

  <mat-card class="mat-card">
    <div class="container" style="text-align: center">
      <h1>¡Reserva en 4 simples pasos!</h1>
    </div>

    <mat-card-content>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6" style="text-align: center">
          <h3>1. Elige un local: el más cercano o el que prefieras.</h3>
          <div class="container" style="padding: 10%">
            <img src="../../../../../assets/icons/one-choose-local.svg" style="width: 80%" />
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" style="text-align: center">
          <h3>2. Elige la comida y dinos para cuantos es la mesa.</h3>
          <div class="container" style="padding: 10%">
            <img src="../../../../../assets/icons/two-choose-food.svg" style="width: 80%" />
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" style="text-align: center">
          <h3 class="h4">
            3. Haz tu reserva, paga y espera a que llegue el día.
          </h3>
          <div class="container" style="padding: 10%">
            <img src="../../../../../assets/icons/three-doing-reservation.svg" style="width: 80%" />
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" style="text-align: center">
          <h3>4. Anda al local y disfruta sin preocupaciones.</h3>
          <div class="container" style="padding: 10%">
            <img src="../../../../../assets/icons/four-go-to-local.svg" style="width: 80%" />
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>