.b-register-button {
    width: 100%;
    background-color: #E10000;
    color: white;
    border-radius: 10px;
    font-weight: lighter;
    margin-block: 1%;
}

.normal-button {
    width: 100%;
    background-color: #FFFDFA;
    border-radius: 10px;
    color: #E10000;
    margin-block: 1%;
}

.mat-stroked-button {
    width: 100%;
    border-radius: 10px;
    border-color: #E10000;
    
}

.img-logo {
    cursor: pointer;
}