@import "../../../../styles.scss";

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

::ng-deep
  .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 5px;
}

@include view-min(577px) {
  ::ng-deep
    .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 6px;
  }
}

::ng-deep .swiper-pagination-bullet {
  background: #3c0000;
  height: 11px;
  opacity: 1;
  width: 11px;
}

::ng-deep .swiper-pagination-bullet-active {
  background: #e10000;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  width: 100%;
  height: 400px;
}

@include view-max(1024px) {
  .mySwiper {
    height: 300px;
  }
}

@include view-max(768px) {
  .mySwiper {
    height: 280px;
  }
}

@include view-max(425px) {
  .mySwiper {
    height: 250px;
  }
}

@include view-max(320px) {
  .mySwiper {
    height: 180px;
  }
}

.btn-submit.btn-small {
  font-size: .93rem;
  font-weight: 400;
  width: auto;
}

.edit-pictures {
  max-width: 19px;
  max-height: 19px;
  margin-right: 8px;
}
