<div class="container-fluid">
  <swiper class="mySwiper pb-5" [mousewheel]="true" [loop]="true" [pagination]="{
      clickable: true
    }" [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }" [slidesPerView]="3" [spaceBetween]="15" [breakpoints]="{
      '@0.00': {
        slidesPerView: 1,
        spaceBetween: 10
      },
      '@0.75': {
        slidesPerView: 2,
        spaceBetween: 20
      },
      '@1.00': {
        slidesPerView: 3,
        spaceBetween: 30
      }
    }">
    <ng-template swiperSlide *ngFor="let img of images">
      <img [src]="img.url" alt="" />
    </ng-template>


  </swiper>

  <div class="container">
    <div class="col-12 px-0 d-flex mt-3 mt-md-0 justify-content-center justify-content-md-end">
      <button class="btn-submit btn-small d-flex align-items-center" mat-raised-button
      (click)="editMenu()">Editar Carta</button>
      &nbsp;  &nbsp;
      <button class="btn-submit btn-small d-flex align-items-center" mat-raised-button
        (click)="openUploadImagesLocals()">
        <img src="../../../../assets/icons/ic-camera.svg" alt="editar mis fotos" class="edit-pictures">
        <span>Editar mis fotos</span>
      </button>
     
  
    </div>
  </div>

</div>