<!--Header-->
<div class="row title">
  <div class="col-xs-6 col-sm-6 col-md-10 col-lg-10">
    <h2 class="title-2">
      {{ restaurant?.name | titlecase }}
    </h2>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
    <app-button (click)="redirectToMenu()" [buttonCustomConfiguration]="this.menuCustomButton">Reserva aquí</app-button>
  </div>
</div>

<!--Body-->
<div class="row">
  <div class="col-md-12 col-lg-5 business-details-panel">
    <mat-card>
      <mat-card-content>
        <p class="paragraph">
          {{ restaurant?.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col">
    <mat-card>
      <mat-card-content class="ml-3">
        <div class="row">
          <div class="col">
            <h4 class="title-4">Sucursales:</h4>
            <div class="branch">
              <p class="paragraph branch">
                {{ this.restaurant.street | titlecase }} {{ this.restaurant.street_number }},
                {{ this.restaurant.state_name | titlecase }}
              </p>
            </div>
            <div class="branch" *ngFor="let branch of this.restaurant?.branches">
              <p class="paragraph branch">
                {{ branch?.street | titlecase }} {{ branch?.street_number }},
                {{ branch?.state_name | titlecase }}
              </p>
            </div>
          </div>
          <app-accept-pet [acceptPet]="this.restaurant?.accept_pet"></app-accept-pet>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 col-lg-5">
    <div class="row" *ngIf="isUserLogged == true">
      <div class="col col-center">
        <mat-card>
          <mat-card-content>
            <h4 class="title-4">Rango de Precios:</h4>
            <h2 class="title-3 mt-n3">
              {{ this.restaurant.min_price | currencyStandard }} - {{ this.restaurant.max_price | currencyStandard }}
            </h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row mt-3 working-hours-panel">
      <div class="col col-center">
        <mat-card>
          <mat-card-content>
            <h4 class="title-4">Horario y días de funcionamiento:</h4>
            <div class="mt-n4">
              <ng-container *ngFor="let schedule of this.restaurant?.schedule">
                <ng-template [ngIf]="schedule.active == true" [ngIfElse]="btninactive">
                  <button class="btn-red">
                    {{ this.getDays(schedule.day) }}
                  </button>
                </ng-template>

                <ng-template #btninactive>
                  <button class="btn">
                    {{ this.getDays(schedule.day) }}
                  </button>
                </ng-template>
              </ng-container>
            </div>
            <p class="paragraph" *ngFor="let x of schedule">
              {{ x.name }} de {{ x.openingHour }} a
              {{ x.closingHour }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col">
    <app-map
      [Latitude]="restaurant?.latitude"
      [Longitude]="restaurant?.longitude"
      [Address]="restaurant?.street + ' ' + restaurant?.street_number + ' ' + restaurant?.state_name"
    ></app-map>
  </div>
</div>
