<div class="response-pay-rectangle col-md-12 col-lg-12 col-sm-12">
  <div class="img-success-pay col-md-12 col-sm-12 col-lg-12">
    <img src="../../../../assets/img/rejected-pay.svg" alt="" />
  </div>

  <div class="position-elements col-md-12 col-sm-12 col-lg-12">
    <div class="title col-md-12 col-sm-12 col-lg-12"><h3>Pago Rechazado</h3></div>
    <div class="position-elements sub-title col-md-12 col-sm-12 col-lg-12">
      <p>No hemos podido procesar tu pago</p>
      <p>Revisa los datos ingresados o intenta con otro medio de pago</p>
    </div>
  </div>

  <div class="aligne-center-buttons position-elements col-md-12 col-sm-6 col-lg-12">
    <button type="submit" class="btn-normal-red">Ver pedido</button> &nbsp;&nbsp;
    <button type="submit" class="btn-submit">Volver a intentar</button>
  </div>
</div>
