<div class="img-container animated fadeIn infinite">
  <!--Header-->
  <app-header [isWhiteLogo]="true"></app-header>

  <!--Content-->
  <div class="container">
    <!--Principal title-->
    <div class="row">
      <div class="col-12 col-center">
        <h1 class="principal-title">Carta</h1>
      </div>
    </div>

    <!--Business info-->
    <mat-card *ngIf="restaurant">
      <div class="row pl-3 justify-content-center">
        <div class="col-lg-8">
          <p class="title">{{ restaurant?.name | titlecase }}</p>
          <p class="title-5">
            Horario de funcionamiento: <img src="../../../assets/img/vector-information.svg" alt="" (click)="getSchedule()" />
          </p>
        </div>
        <!-- <div class="col-lg-3">
          <p class="title-4">Rango de Precios:</p>
          <p class="money">{{ restaurant?.min_price | currencyStandard }} - {{ restaurant?.max_price | currencyStandard}}</p>
        </div> -->
        <div class="col-lg-4">
          <!-- <p class="title-4">Chefcitos:</p>
          <img [src]="'../../../assets/icons/frying-pan-2.svg'" *ngFor="let z of ratingsArray" />
          <img [src]="'../../../assets/icons/frying-pan-1.svg'" *ngFor="let z of noRatingsArray" /> -->
          <p class="title-4">Rango de Precios:</p>
          <p class="money">
            {{ restaurant?.min_price | currencyStandard }} - {{ restaurant?.max_price | currencyStandard }}
          </p>
        </div>
      </div>
    </mat-card>

    <br /><br />

    <!--Add section button-->
    <form [formGroup]="menuForm" (ngSubmit)="saveChanges()" (keydown.enter)="$event.preventDefault()">
      <ng-container formArrayName="sections">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let section of sections.controls; let i = index" hideToggle="true" #toggleIcon>
            <mat-expansion-panel-header class="panel-header" [formGroup]="section">
              <mat-panel-title>
                <label class="title-4_bold mx-0 mx-lg-5">
                  {{ section.get("title").value | titlecase }}
                </label>
              </mat-panel-title>

              <mat-panel-description class="title-icon-toggle">
                <mat-icon *ngIf="!toggleIcon.expanded" class="toggleIcon">expand_more</mat-icon>
                <mat-icon *ngIf="toggleIcon.expanded" class="toggleIcon">expand_less</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!--Section Content-->
            <mat-accordion>
              <ng-container>
                <div class="container px-0">
                  <div
                    *ngFor="let product of products(section); let p = index; let length = count"
                    class="pb-4 wrap-product"
                  >
                    <ng-container [formGroup]="product">
                      <div class="row mx-0 mx-lg-5">
                        <div class="col-md-12 col-lg-6 px-0">
                          <p class="title-9">
                            {{ product.get("name").value }}
                          </p>
                        </div>
                      </div>

                      <div class="row mx-0 mx-lg-5">
                        <div class="col-md-11 col-lg-4 line-break">
                          <p class="paragraph">
                            {{ product.get("description").value }}
                          </p>
                        </div>

                        <div class="col-5 col-md-6 col-lg-2 col-price">
                          <p class="paragraph">{{ product.get("price").value | currencyStandard }} c/u</p>
                        </div>

                        <div class="col col-add-remove">
                          <mat-icon class="add-remove-item-icon" (click)="deleteProduct(product)"
                            >remove_circle_outline
                          </mat-icon>
                          <label class="quantity-item">{{ product.get("quantity").value }}</label>
                          <mat-icon class="add-remove-item-icon" (click)="addProduct(product)"
                            >add_circle_outline
                          </mat-icon>
                        </div>
                      </div>
                    </ng-container>

                    <mat-divider *ngIf="p != length - 1"></mat-divider>
                  </div>
                </div>
              </ng-container>
            </mat-accordion>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle="true" class="panel-total">
            <mat-expansion-panel-header>
              <mat-panel-title> </mat-panel-title>
              <mat-panel-description class="panel-description m-2">
                <label class="title-3 mx-0 mx-lg-5">Total</label>
                <label class="title-9 mx-2 mx-lg-5">Se ha incorporado un cargo por comisión de servicio del 15%</label>
                <label class="title-5_2 mx-0 mx-lg-5">{{ total | currencyStandard }}</label>
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>

      <br /><br />

      <div class="d-flex row align-items-center justify-content-center">
        <div class="d-flex col-lg-12 col-xs-12 align-items-center justify-content-center">
          <app-button
            class="d-flex col-lg-12"
            (click)="openReservationModal()"
            [buttonCustomConfiguration]="reservationCustomButton"
          >
            Reservar</app-button
          >
        </div>
        <div class="d-flex col-lg-12 align-items-center justify-content-center">
          <p class="d-flex col title-8 align-items-center justify-content-center">Se abrirá una ventana emergente</p>
        </div>
      </div>
    </form>
  </div>

  <!--Footer-->
  <app-footer></app-footer>
</div>
<app-spinner></app-spinner>
