@import "../../../../../styles.scss";

::ng-deep .business-profile-dialog {
  @include view-min(600px) {
    max-width: 75% !important;
  }
}

@include view-max(992px) {
  .grid-container {
    max-height: 70vh;
  }
}

.txt-dialog {
  color: #3c0000;
  font-size: 1.6rem;
  text-align: center;
  @include view-min(992px) {
    font-size: 2.2rem;
  }
}

.font-sz-22 {
  @include view-min(600px) {
    font-size: 1.4rem;
  }
  font-size: 1.1rem;
}
.font-sz-19 {
  @include view-min(600px) {
    font-size: 1.188rem;
  }
  font-size: 1rem;
}

.hours-input,
.h-40 {
  height: 40px;
}

.wrap-toggle ::ng-deep .mat-slide-toggle-content {
  @include view-min(577px) {
    margin-left: 6px;
  }
  @include view-min(992px) {
    margin-left: 25px;
    font-size: 1.1rem;
  }
}

.hours-input {
  border: 1.5px solid rgba(191, 191, 191, 0.5);
  border-radius: 10px;
  font-size: 1.1rem;
  max-width: 100%;
  text-align: center;
  @include view-min(992px) {
    font-size: 1.4rem;
  }
  @include view-min(1300px) {
    min-width: 145px;
  }
  &:focus {
    outline: 0;
    border-color: #d2d6d6;
    box-shadow: 0 0 0 0.15rem rgb(210 214 214 / 25%);
  }
}

::ng-deep {
  & .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #000;
  }
  & .mat-slide-toggle-bar {
    height: 17px !important;
  }
  & .mat-slide-toggle-thumb-container {
    width: 12px !important;
    height: 12px !important;
    top: 2px !important;
    left: 3.5px !important;
  }
  & .mat-slide-toggle-thumb {
    height: 12px !important;
    width: 11px !important;
  }
  & .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(18px, 0, 0) !important;
  }
  & .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #fafafa !important;
  }
}

.input-schedule {
  width: 75%;
  margin-bottom: -30px;
}

.font-input-schedule {
  font-size: 20px;
}
