<app-header></app-header>

<div class="container">

    <mat-card>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1>Políticas de Reembolso</h1>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <h2>Casos en que el dinero se reembolsa</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        <p>
                            El restaurante no mantiene disponible el o los platos solicitados mediante la plataforma Tyne, en tal caso se reembolsa la diferencia de los cambios o bien,
                            se genera un cargo si el valor es superior al original en la siguiente compra.
                        </p>
                    </li>
                    <li>
                        <p>
                            El restaurante desconoce la reservación, se reembolsa el 100% del valor pagado, o bien, se realiza una reserva lo más pronto posible respetando el
                            tope de lo pagado por los productos.
                        </p>
                    </li>
                    <li>
                        <p>
                            El restaurante no puede reemplazar o no llegar a un acuerdo en el cambio de un plato no disponible a la hora de servir, en tal caso al usuario
                            se le reembolsará el 100% del valor.
                        </p>
                    </li>
                    <li>
                        <p>
                            El Comensal cancela la reserva faltando 24 horas para la realización de la misma, se reembolsa el 0% del valor total pagado, 
                            (usuario puede levantar un reclamo para analizar caso y proceder con la devolución del 50% según el caso).
                        </p>
                    </li>
                    <li>
                        <p>
                            Se reembolsará el 0% del total pagado en caso de que los alimentos consumidos produzcan una reacción alérgica, dado que los ingredientes se encuentran
                            publicados según la comida.
                        </p>
                    </li>
                    <li>
                        <p>
                            Tyne no se hace respoonsable de daños y perjuicios generados por el local, dado que la plataforma Tyne es únicamente intermediario, entregando productos
                            publicados por nuestros restaurantes asociados, tampoco se hace cargo de todos los costos honorarios y no honorarios, gastos médicos y demases cargos
                            que hayan sido consecuencia de algún acontecimiento cualquiera sea su naturaleza fuera del giro de las líneas de negocio que lleva Tyne.
                        </p>
                    </li>
                    <li>
                        <p>
                            Todos los comentarios, omisiones, actos, escritos y toda acción que conlleve a discriminación, violaciones a las leyes de la República Chile, como también sus
                            ordenanzas municipales son de exclusiva responsabilidad de quienes los emiten o accionan.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </mat-card>
</div>

<app-shared-footer></app-shared-footer>