<!--Header-->
<div class="row">
  <div class="col d-flex justify-content-center">
    <h2 class="titulo-2">Juan y Medio</h2>
    <mat-icon class="icon-favorite" (click)="onFavoriteIconClick()">
      {{ isFavorite ? "favorite" : "favorite_border" }}
    </mat-icon>
  </div>
  <div class="col-2">
    <button class="btn-submit" mat-raised-button>Carta</button>
  </div>
</div>

<!--Body-->
<div class="row">
  <div class="col-5">
    <mat-card>
      <mat-card-content>
        <p class="parrafo">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab suscipit,
          reiciendis hic quia sunt laborum ducimus qui eum magnam consequuntur?
          Ipsa beatae ad pariatur dolorum iure quasi, consequatur unde labore.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab suscipit,
          reiciendis hic quia sunt laborum ducimus qui eum magnam consequuntur?
          Ipsa beatae ad pariatur dolorum iure quasi, consequatur unde labore.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab suscipit,
          reiciendis hic quia sunt laborum ducimus qui eum magnam consequuntur?
          Ipsa beatae ad pariatur dolorum iure quasi, consequatur unde labore.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col">
    <mat-card>
      <mat-card-content class="ml-3">
        <div class="row">
          <div class="col">
            <h4 class="titulo-4">Sucursales:</h4>
            <div class="branch" *ngFor="let branch of branches">
              <p class="parrafo branch">{{ branch }}</p>
            </div>
          </div>
          <div class="col col-center mt-5">
            <img src="./../../../../assets/aceptan_mascotas.svg" />
            <h4 class="titulo-4">Aceptan mascotas</h4>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row mt-3">
  <div class="col-5">
    <div class="row">
      <div class="col col-center">
        <mat-card>
          <mat-card-content>
            <h4 class="titulo-4">Rango de Precios:</h4>
            <h2 class="titulo-3 mt-n3">$2.000 a $19.990</h2>
            <h4 class="titulo-4">Calificación:</h4>
            <img src="../../../assets/sarten-2.svg" />
            <img src="../../../assets/sarten-2.svg" />
            <img src="../../../assets/sarten-2.svg" />
            <img src="../../../assets/sarten-1.svg" />
            <img src="../../../assets/sarten-1.svg" />
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col col-center">
        <mat-card>
          <mat-card-content>
            <h4 class="titulo-4">Horario y días de funcionamiento:</h4>
            <div class="mt-n4">
              <button class="btn">L</button>
              <button class="btn-red">M</button>
              <button class="btn-red">M</button>
              <button class="btn-red">J</button>
              <button class="btn-red">V</button>
              <button class="btn-red">S</button>
              <button class="btn">D</button>
            </div>
            <p class="parrafo">Martes a Sábado de 12:30 a 23:30</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col">
    <app-map></app-map>
  </div>
</div>
