:host::ng-deep .mat-card {
  background: #fafafa;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.icon-favorite {
  color: #e10000;
  font-size: 30px;
  padding-left: 20px;
  font-size: 40px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.titulo-2 {
  font-weight: 300;
  margin-left: 130px;
}

.btn-submit {
  margin-top: 50px;
  width: 100%;
}

.branch {
  padding-left: 20px;
}

.mb-n2 {
  margin-bottom: -20px;
}

.btn {
  display: inline;
  border-radius: 50%;
  border: 1.5px solid #e10000;
  background: #fffdfa;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.btn-red {
  display: inline;
  border-radius: 50%;
  border: 1px solid red;
  background: #e10000;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  color: #fafafa;
}

.branch {
  text-decoration: underline;
}

.title {
  text-align: center;
}

@media only screen and (max-width: 990px) {
  .business-details-panel {
    margin-bottom: 20px;
  }
  .working-hours-panel {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    text-align: justify;
    margin-bottom: 20px;
  }

  .titulo-2 {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 576px) {
}
