<!--Header-->
<div class="row title">
  <div class="col-9 col-sm-9 col-md-10 col-lg-10">
    <h2 class="titulo-2">
      {{ restaurant?.name }}
      <mat-icon class="icon-favorite" (click)="onFavoriteIconClick()">
        {{ isFavorite ? "favorite" : "favorite_border" }}
      </mat-icon>
    </h2>
  </div>
  <div class="col">
    <button class="btn-submit" mat-raised-button (click)="redirectToMenu()">
      Carta
    </button>
  </div>
</div>

<!--Body-->
<div class="row">
  <div class="col-md-12 col-lg-5 business-details-panel">
    <mat-card>
      <mat-card-content>
        <p class="parrafo">
          {{ restaurant?.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col">
    <mat-card>
      <mat-card-content class="ml-3">
        <div class="row">
          <div class="col">
            <h4 class="titulo-4">Sucursales:</h4>
            <div class="branch" *ngFor="let branch of branches">
              <p class="parrafo branch">{{ branch }}</p>
            </div>
          </div>
          <div class="col col-center mt-5" *ngIf="restaurant?.accept_pet">
            <img src="./../../../../assets/keeping-pet.svg" />
            <h4 class="titulo-4">Aceptan mascotas</h4>
          </div>
          <div class="col col-center mt-5" *ngIf="!restaurant?.accept_pet">
            <img src="./../../../../assets/not-keeping-pet.svg" />
            <h4 class="titulo-4">No aceptan mascotas</h4>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 col-lg-5">
    <div class="row">
      <div class="col col-center">
        <mat-card>
          <mat-card-content>
            <h4 class="titulo-4" *ngIf="isUserLogged">Rango de Precios:</h4>
            <h2 class="titulo-3 mt-n3" *ngIf="isUserLogged">
              $2.000 a $19.990
            </h2>
            <h4 class="titulo-4">Calificación:</h4>
            <img src="../../../assets/frying-pan-2.svg" *ngFor="let z of ratingsArray" />
            <img src="../../../assets/frying-pan-1.svg" *ngFor="let z of noRatingsArray" />
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row mt-3 working-hours-panel">
      <div class="col col-center">
        <mat-card>
          <mat-card-content>
            <h4 class="titulo-4">Horario y días de funcionamiento:</h4>
            <div class="mt-n4">
              <button class="btn">L</button>
              <button class="btn-red">M</button>
              <button class="btn-red">M</button>
              <button class="btn-red">J</button>
              <button class="btn-red">V</button>
              <button class="btn-red">S</button>
              <button class="btn">D</button>
            </div>
            <p class="parrafo" *ngFor="let x of schedule">
              {{ x.name }} de {{ x.openingHour }} a
              {{ x.closingHour }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col">
    <app-map [Lat]="-33.5263415" [Long]="-70.5920142"></app-map>
  </div>
</div>