<div class="container-fluid" style="background-color: #3C0000; margin-top: 20%;">
    <div class="row " style="padding-right: 10%;padding-left: 10%; padding-top: 5%; padding-bottom: 5%;">
        <div class="col-6">
            <a class="btn" href="#" role="button">Ver todos los locales</a>
            <br>
            <a class="btn" href="#" role="button">Agregar tu local</a>
        </div>
        <div class="col-6" style="text-align:end ;">
            <button class="btn btn-primary" type="button">¡Quiero unir mi Local!</button>
        </div>
    </div>
</div>