// .footer{
//     position: absolute;
//     width:100%;
//     height: 164px;
//     left: 0px;
//     top: 1309px;
// }
// @mixin min($width) {
//     @media only screen and (min-width: $width) {
//         @content;
//     }
// }

.footer {
    background-color: #3C0000;
    margin-top: 15%;
    &__row {
        padding: 2.5rem 0;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__list--after {
        padding-bottom: 1rem;
        position: relative;
        @media only screen and (min-width: 577px) {
            padding-bottom: 0;
        }
        &::after {
            background-color: #FFFDFA;
            content: "";
            position: absolute;
            bottom: 0;
            height: 3px;
            width: 75%;
            @media only screen and (min-width: 577px) {
                content: none;
            }
        }
    }
}

@media only screen and (min-width: 577px) {
    .border-r {
        border-right: 3px solid #FFFDFA;
    }
}

.list {
    &__item {
        // text-align: center;
        padding-bottom: .35rem;
        @media only screen and (min-width: 577px) {
            text-align: center;
        }
    }
    &__link {
        color: #FFFDFA;
        text-decoration: none;
        font-size: 1.1rem;
    }
}

.link{
    position: absolute;
    
    left: 60px;
    top: 50px;

    font-family: Museo Sans;
    font-style: normal;
    font-weight: 250;
    font-size: 18px;
    line-height: 24px;
}
.btn {
    color: #FFFDFA;
    text-decoration: none;
    font-size: large;
}

.btn-primary{
    background: #E10000;
    border-radius: 5px;
    width: 80%;
    max-width: 280px;
    color: #FFFDFA;
    font-size: 1rem;
    font-weight: lighter;
}

