<!--Header-->
<app-header [isWhiteLogo]="false"></app-header>

<!--Content-->
<div class="container pt-5">
  <mat-card>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <h1>Políticas de Reembolso</h1>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <h2>Casos en que el dinero se reembolsa y cómo te ayudaremos</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul>
          <app-refund-policy-card *ngFor="let refundPolicy of refundPolicies" [refundPolicy]="refundPolicy">
          </app-refund-policy-card>
        </ul>
      </div>
    </div>
  </mat-card>
</div>

<!--Footer-->
<app-footer></app-footer>