mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.mat-dialog-actions {
  display: contents;
}

input {
  height: 1.6em;
  div.mat-form-field-infix {
    padding: 0.3em 0;
    input.mat-input-element {
      vertical-align: top;
    }
  }
}

.register-button {
  width: 45%;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  font-weight: normal;
  background-color: #e10000;
}
.submit-button {
  position: absolute;
  width: 90%;
  top: 20%;
}

.register-title {
  font-size: 25px;
  color: #3c0000;
}
input.mat-input-element {
  position: absolute;
  top: 0;
}
.mat-datepicker-toggle {
  margin: auto;
}
// ::ng-deep -> Deprecated en versiones superiores de angular https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep
:host::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #3c0000;
}

:host::ng-deep.mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #3c0000;
}
.modal-body-register {
  overflow-y: auto;
  height: 70vh;
  width: auto;
}
.close {
  border-style: none;
  background-color: #fff;
  font-size: 1.5em;
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .register-button {
    width: 100%;
  }
  .mat-dialog-container {
    padding: 0;
  }
  .submit-button {
    width: 90%;
    margin: 0 -1vw;
  }
  .img-logo {
    width: 50%;
  }
  .img-welcomer {
    width: 50%;
  }
  .register-button {
    width: 70%;
  }
  .register-title {
    font-size: 1em;
  }
}
