<div class="modal-body-register">
  <div class="container d-flex justify-content-end px-2">
    <button type="button" class="close" mat-button [mat-dialog-close]="true">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row mx-0">
    <div class="col-12 col-sm-6 col-lg-7 px-3 px-lg-2">
      <div class="mb-2 mb-lg-4 pl-lg-4 pr-lg-4">
        <div class="row">
          <div class="col">
            <h2 class="register-title" mat-dialog-title>Registrar</h2>
          </div>
        </div>

        <div mat-dialog-actions>
          <form [formGroup]="this.clientRegisterForm" (ngSubmit)="createClient()">

            <div class="row">


              <div class="col-12 col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre *</mat-label>
                  <input matInput formControlName="clientName" type="text" autocomplete="off" />
                  <mat-error>
                    {{ getClientNameError() }}
                  </mat-error>
                </mat-form-field>
              </div>



              <div class="col-12 col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Apellido *</mat-label>
                  <input matInput formControlName="clientLastName" type="text" autocomplete="off" />
                  <mat-error>
                    {{ getClientLastNameError() }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="row">


              <div class="col-12 col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Email *</mat-label>
                  <input matInput formControlName="clientEmail" type="email" autocomplete="off" />
                  <mat-error>
                    {{ getClientEmailError() }}
                  </mat-error>
                </mat-form-field>
              </div>



              <div class="col-12 col-sm-6">
                <mat-form-field appearance="outline" hintmat-label="+xx xxxxxxxxx">
                  <mat-label>Celular *</mat-label>
                  <input matInput formControlName="clientPhone" type="text" autocomplete="off" phoneMask
                    maxlength="17" />
                  <mat-error>
                    {{ getClientPhoneError() }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">


              <div class="col-12 col-sm-6">
                <mat-form-field appearance="outline" hintmat-label="Debe tener al menos 6 caracteres">
                  <mat-label>Contraseña *</mat-label>
                  <input matInput formControlName="password" type="password" autocomplete="off" />
                  <mat-error>
                    {{ getPasswordError() }}
                  </mat-error>
                </mat-form-field>
              </div>



              <div class="col-12 col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Repite tu contraseña *</mat-label>
                  <input matInput formControlName="passwordConfirm" type="password" autocomplete="off" />
                  <mat-error>
                    {{ getPasswordConfirmError() }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">

              <div class="col-12 col-sm-6">
                <mat-form-field class="birthday-field" appearance="outline">
                  <mat-label>Fecha de Nacimiento *</mat-label>
                  <input matInput formControlName="birthDate" autocomplete="off" [matDatepicker]="picker" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error>
                    {{ getBirthDateError() }}
                  </mat-error>
                </mat-form-field>
              </div>


              <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                <button class="register-button submit-button" mat-raised-button type="submit" [disabled]="loading">
                  Registrar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <mat-divider class="d-none d-sm-block" [vertical]="true"></mat-divider>

    <div class="col mt-5">
      <h2 class="register-title" mat-dialog-title>O Ingresa con:</h2>

      <div class="row mx-0">
        <div class="col-6 col-sm-12 px-1 px-lg-0 mb-2 mb-lg-4 d-flex justify-content-center">
          <button (click)="registerFacebook()" class="register-button facebook-login" mat-raised-button type="button">
            <img src="/assets/img/facebook-logo.svg" alt="facebook-registration" />
            Facebook
          </button>
        </div>

        <div class="col-6 col-sm-12 px-1 px-lg-0 mb-2 mb-lg-4 d-flex justify-content-center">
          <button (click)="this.registerGoogle()" class="register-button google-login" mat-raised-button type="button">
            <img src="/assets/icons/google-logo.svg" alt="google-registration" />
            Google
          </button>
        </div>
      </div>

      <div class="logo my-5 d-flex justify-content-center">
        <img src="/assets/icons/tyne-logo-register-client.svg" routerLink="/" class="ml-5" />
      </div>
    </div>
  </div>

</div>