mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.mat-dialog-actions {
  display: contents;
}

input {    
    height: 1.6em;              
    div.mat-form-field-infix {
      padding: .3em 0;
      input.mat-input-element {
        vertical-align: top;
      }
    }
}

.register-button {
  width: 45%;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  font-weight: normal;
  background-color: #E10000;
}
.submit-button{
  position: absolute;
  width: 90%;
  top: 20%;
}

.register-title {
  font-size: 25px;
  color: #3C0000;
}
input.mat-input-element {
  position: absolute;
  top: 0;
}
.mat-datepicker-toggle {
  margin: auto;
}
// ::ng-deep -> Deprecated en versiones superiores de angular https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #3C0000;
  height: 6vh;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #3C0000;
}
.modal-body-register {
  overflow-y: auto;
  height: 80vh;
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .register-button {
    width: 100%;
  }
  .mat-dialog-container {
    padding: 0;
  }
  .submit-button {
    width: 90%;
    margin: 0 -1vw;
  }
}