<div class="container mb-4 pl-4 pr-4">
  <div class="row mt-4">
    <div class="col">
      <h1 class="register-title" mat-dialog-title>Registro</h1>
    </div>
  </div>

  <div mat-dialog-actions>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <!-- First row -->
        <div class="row justify-content-start">
          <!-- Name input -->
          <div class="col-lg-4 col-md-6 d-flex justify-content-center">
            <mat-form-field appearance="outline">
              <input
                matInput
                formControlName="name"
                type="text"
                placeholder="Nombre"
                autocomplete="off"
              >
              <mat-error *ngIf="name.invalid && name.dirty">
                Debes ingresar tu nombre!
              </mat-error>
            </mat-form-field>

          </div>
          <!-- Lastname input -->
          <div class="col-lg-4 col-md-6 d-flex justify-content-center">
            <mat-form-field appearance="outline">
              <input 
                matInput
                formControlName="lastName"
                type="text"
                placeholder="Apellido"
                autocomplete="off"
              >
              <mat-error *ngIf="lastName.invalid && lastName.dirty">
                Debes ingresar tu apellido!
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Birthdate input -->
          <div class="col-lg-4 col-md-12 d-flex justify-content-center">

            <mat-form-field appearance="outline">
              <input matInput formControlName="birthDate"placeholder="Fecha de Nacimiento"
              autocomplete="off" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="birthDate.invalid && birthDate.dirty">
                Debes ingresar tu fecha de nacimiento!
              </mat-error>
            </mat-form-field>
            
          </div>

        </div>

        <!-- Second Row -->
        <div class="row">
          <!-- Email input -->
          <div class="col-lg-4 col-md-6 d-flex justify-content-center">
            <mat-form-field appearance="outline">
              <input 
                matInput
                formControlName="email"
                type="email"
                placeholder="Email"
                autocomplete="off"
              >
              <mat-error *ngIf="email.invalid && email.dirty && email.hasError('pattern')">
                Debes ingresar una direccion de correo!
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Cellphone input -->
          <div class="col-lg-4 col-md-6 d-flex justify-content-center">
            <mat-form-field appearance="outline" hintLabel="+xx xxxxxxxxx">
              <input 
                matInput
                formControlName="phoneNumber"
                type="text"
                placeholder="Celular"
                autocomplete="off"
              >
              <mat-error *ngIf="phoneNumber.invalid && phoneNumber.dirty">
                Debes ingresar tu numero de telefono!
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Password input -->
          <div class="col-lg-4 col-md-6 d-flex justify-content-center">
            <mat-form-field appearance="outline" hintLabel="Debe tener al menos 6 caracteres">
              <input 
                matInput
                formControlName="password"
                type="password"
                placeholder="Contraseña"
                autocomplete="off"
              >
              <mat-error *ngIf="password.invalid && password.dirty">
                Debes crear tu contraseña
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Third row -->
        <div class="row justify-content-between" >
          <!-- Confirm Password input -->
          <div class="col-lg-4 col-md-6 d-flex">
            <mat-form-field appearance="outline" [color]="passwordDoesMatch ? 'primary' : 'warn'">
              <input 
                matInput
                formControlName="passwordConfirm"
                type="password"
                placeholder="Repite tu contraseña"
                autocomplete="off"
              >
              <mat-error *ngIf="passwordConfirm.invalid && passwordConfirm.dirty">
                La contraseña no coincide!
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Button -->
          <div class="col-lg-4 col-md-6 d-flex justify-content-center align-self-center">
            <button
              class="register-button"
              mat-raised-button
              type="submit"
              >
              <!-- [disabled]="form.invalid || !passwordDoesMatch || loading" -->
            ¡Listo!
            </button>
          </div>
        </div>
      
      </form>
  </div>
  
</div>
