<div class="modal-body-register">
  <div class="container d-flex justify-content-end">
    <button type="button" class="close" mat-button [mat-dialog-close]="true">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col">
      <div class="logo my-5 d-flex justify-content-center">
        <img [src]="getLogo()" class="img-logo" routerLink="/" />
      </div>
      <div class="d-flex justify-content-center my-5">
        <img src="/assets/img/bienvenido.svg" alt="tyne-app-welcome" class="img-welcomer" />
      </div>
      <h2 class="register-title d-flex justify-content-center" mat-dialog-title>
        Registrate con:
      </h2>
      <!-- Button -->
      <div class="col mb-4 d-flex justify-content-center">
        <button class="register-button" mat-raised-button type="submit">
          <img
            src="/assets/img/facebook-register.svg"
            alt="facebook-registration"
          />
          Facebook
        </button>
      </div>
      <!-- Button -->
      <div class="col d-flex justify-content-center">
        <button class="register-button" mat-raised-button type="submit">
          <img
            src="/assets/img/google-register.svg"
            alt="google-registration"
          />
          Google
        </button>
      </div>
    </div>

    <div class="col">
      <div class="mb-4 pl-4 pr-4">
        <div class="row mt-4">
          <div class="col">
            <h2 class="register-title" mat-dialog-title>
              o ingresa tus datos:
            </h2>
          </div>
        </div>

        <div mat-dialog-actions>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <!-- First row -->
            <div class="row">
              <!-- Name input -->

              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label class="mat-label-input-name">Nombre *</mat-label>
                  <input
                    matInput
                    formControlName="name"
                    type="text"
                    autocomplete="off"
                  />
                  <mat-error *ngIf="name.invalid && name.dirty">
                    Debes ingresar tu nombre!
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Lastname input -->

              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label class="mat-label-input-name">Apellido *</mat-label>
                  <input
                    matInput
                    formControlName="lastName"
                    type="text"
                    autocomplete="off"
                  />
                  <mat-error *ngIf="lastName.invalid && lastName.dirty">
                    Debes ingresar tu apellido!
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- Second row -->
            <div class="row">
              <!-- Email input -->

              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label class="mat-label-input-name">Email *</mat-label>
                  <input
                    matInput
                    formControlName="email"
                    type="email"
                    autocomplete="off"
                  />
                  <mat-error
                    *ngIf="
                      email.invalid && email.dirty && email.hasError('pattern')
                    "
                  >
                    Debes ingresar una direccion de correo!
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Cellphone input -->

              <div class="col">
                <mat-form-field
                  appearance="outline"
                  hintmat-label="+xx xxxxxxxxx"
                >
                  <mat-label class="mat-label-input-name">Celular *</mat-label>
                  <input
                    matInput
                    formControlName="phoneNumber"
                    type="text"
                    autocomplete="off"
                  />
                  <mat-error *ngIf="phoneNumber.invalid && phoneNumber.dirty">
                    Debes ingresar tu numero de telefono!
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!-- Password input -->

              <div class="col">
                <mat-form-field
                  appearance="outline"
                  hintmat-label="Debe tener al menos 6 caracteres"
                >
                  <mat-label class="mat-label-input-name"
                    >Contraseña *</mat-label
                  >
                  <input
                    matInput
                    formControlName="password"
                    type="password"
                    autocomplete="off"
                  />
                  <mat-error *ngIf="password.invalid && password.dirty">
                    Debes crear tu contraseña
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Confirm Password input -->

              <div class="col">
                <mat-form-field
                  appearance="outline"
                  [color]="passwordDoesMatch ? 'primary' : 'warn'"
                >
                  <mat-label class="mat-label-input-name"
                    >Repite tu contraseña *</mat-label
                  >
                  <input
                    matInput
                    formControlName="passwordConfirm"
                    type="password"
                    autocomplete="off"
                  />
                  <mat-error
                    *ngIf="passwordConfirm.invalid && passwordConfirm.dirty"
                  >
                    La contraseña no coincide!
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!-- Birthdate input -->
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label class="mat-label-input-name"
                    >Fecha de Nacimiento *</mat-label
                  >
                  <input
                    matInput
                    formControlName="birthDate"
                    autocomplete="off"
                    [matDatepicker]="picker"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="birthDate.invalid && birthDate.dirty">
                    Debes ingresar tu fecha de nacimiento!
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Button -->
              <div class="col">
                <button
                  class="register-button submit-button"
                  mat-raised-button
                  type="submit"
                >
                  <!-- [disabled]="form.invalid || !passwordDoesMatch || loading" -->
                  ¡Listo!
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
