<div class="grid-container">
  <div class="col-12 px-0 d-flex justify-content-end">
    <button type="button" class="close" mat-button [mat-dialog-close]="true">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row mx-0 justify-content-center px-2 px-lg-0">
    <div class="col-12 px-0">
      <p class="mt-2 txt-dialog">Horario y dias de funcionamiento</p>
    </div>
    <div class="col-12 col-md-6 col-lg-6 px-0">
      <div class="row mx-0">
        <div class="col-12 px-0">
          <p class="mb-1 mt-0 font-sz-19">Dias de funcionamiento</p>
        </div>
        <div class="col-6 px-0 mb-2 h-40 d-flex align-items-center">
          <p class="my-0 font-sz-22">Lunes</p>
        </div>
        <div class="col-6 px-0 mb-2 h-40 d-flex align-items-center">
          <mat-slide-toggle [checked]="checked" class="wrap-toggle">Slide me!</mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 px-0">
      <div class="row mx-0">

        <div class="col-6 px-0">
          <p class="mb-1 mt-0 pl-1 font-sz-19">Apertura</p>
        </div>
        <div class="col-6 px-0">
          <p class="mb-1 mt-0 pl-1 font-sz-19">Cierre</p>
        </div>
        <div class="col-6 px-0 pr-lg-4 mb-2">
          <input class="hours-input" type="text">
        </div>
        <div class="col-6 px-0 pr-lg-4 mb-2">
          <input class="hours-input" type="text">
        </div>

      </div>
    </div>

  </div>
</div>