<div class="img-container">
    <!--Header-->
    <app-header [isWhiteLogo]="true"></app-header>

    <!--Content-->
    <div class="container">

        <!--Principal title-->
        <div class="row">
            <div class="col-12 col-center">
                <h1 class="principal-title">Carta</h1>
            </div>
        </div>

        <!--Business info-->
        <mat-card>
            <div class="row pl-3 justify-content-center">
                <div class="col-lg-5">
                    <p class="title">Juan y Medio</p>
                </div>
                <div class="col-lg-3">
                    <p class="titulo-4">Rango de Precios:</p>
                    <p class="money">$$$$$</p>
                </div>
                <div class="col-lg-4">
                    <p class="titulo-4">Calificación:</p>
                    <img src="../../../assets/sarten-2.svg" />
                    <img src="../../../assets/sarten-2.svg" />
                    <img src="../../../assets/sarten-2.svg" />
                    <img src="../../../assets/sarten-1.svg" />
                    <img src="../../../assets/sarten-1.svg" />
                </div>
            </div>
        </mat-card>

        <br><br>

        <!--Add section button-->
        <mat-card class="mb-4">
            <button class="btn-add-accordion" mat-stroked-button (click)="addSection()">
                <mat-icon>add_circle_outline</mat-icon>
                <span class="txt-btn">Añadir sección</span>
                
            </button>
        </mat-card>

        <form [formGroup]="form" (ngSubmit)="saveChanges()" (keydown.enter)="$event.preventDefault()">

            <ng-container formArrayName="sections">

                <mat-accordion cdkDropList (cdkDropListDropped)="dropSection($event)">

                    <mat-expansion-panel *ngFor="let section of sections.controls; let i = index" cdkDrag
                        hideToggle="true" #toggleIcon>

                        <mat-expansion-panel-header class="panel-header" [formGroup]="section"
                            (keydown.space)="$event.preventDefault();">

                            <mat-panel-title>
                                <button type="button" class="btn-delete" mat-stroked-button (click)="deleteSection(i)">
                                    <mat-icon>delete</mat-icon>
                                    <span class="txt-btn">Borrar sección</span>
                                </button>
                            </mat-panel-title>

                            <mat-panel-description class="panel-description">

                                <label class="section-title" *ngIf="!isTitleVisible(i)">
                                    {{section.get("title").value}}
                                </label>

                                <div style="font-size: 4px; pointer-events: auto;"
                                    *ngIf="isTitleVisible(i)" (click)="toggleIcon.expanded = true">
                                    <mat-form-field appearance="outline" style="width: 300px;">
                                        <input class="title-input" matInput formControlName="title" type="text"
                                            (blur)="changeSectionTitleEditing(i)"
                                            (keyup.enter)="changeSectionTitleEditing(i)"
                                            (keydown.enter)="$event.preventDefault()"
                                            (keydown)="$event.stopPropagation()">
                                    </mat-form-field>
                                </div>

                                &nbsp;&nbsp;
                                <mat-icon class="icon-edit" (click)="toggleIcon.expanded = true"
                                    (click)="changeSectionTitleEditing(i)">
                                    edit
                                </mat-icon>

                            </mat-panel-description>

                            <mat-panel-description class="title-icon-toggle">
                                <mat-icon *ngIf="!toggleIcon.expanded" class="toggleIcon">expand_more</mat-icon>
                                <mat-icon *ngIf="toggleIcon.expanded" class="toggleIcon">expand_less</mat-icon>
                            </mat-panel-description>

                        </mat-expansion-panel-header>

                        <!--Section Content-->
                        <mat-accordion>
                            <ng-container>
                                <div class="container px-0">

                                    <div class="row mx-0 mx-lg-5 py-2 py-sm-3">
                                        <div class="col-4 px-0">
                                            <mat-icon style="font-size: 40px; cursor: pointer;" (click)="addProduct(i)">
                                                add_circle_outline
                                            </mat-icon>
                                        </div>
                                    </div>

                                    <div *ngFor="let product of products(section); let p = index" class="pb-4 wrap-product">

                                        <ng-container [formGroup]="product">

                                            <div class="row mx-0 mx-lg-5">
                                                <div class="col-md-12 col-lg-6 px-0">
                                                    <mat-form-field appearance="outline" class="input-product-name">
                                                        <input matInput formControlName="name" type="text">
                                                        <mat-error>
                                                            {{getProductNameError(i, p)}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="row mx-0 mx-lg-5">

                                                <div class="col-md-12 col-lg-3 px-0 pr-lg-4 mb-3 mb-lg-0 col-center">
                                                    <img class="img-responsive border-rounded product-h-img" [src]="product.get('imageUrl').value | safeHtml" />
                                                   
                                                    <input type="file" accept="image/*" #file style="display: none;" (change)="uploadImage(i, p, $event)">
                                                    <button class="btn-change-photo mt-2" mat-stroked-button (click)="file.click()">
                                                        <mat-icon>image</mat-icon>
                                                        Cambiar foto
                                                    </button>
                                                </div>

                                                <div class="col-md-11 col-lg-4 pr-lg-4">
                                                    <mat-form-field class="input-product-description" appearance="fill">
                                                        <textarea matInput formControlName="description" rows="4"
                                                            placeholder="Ingresa una descripción"></textarea>
                                                        <mat-error>
                                                            {{getProductDescriptionError(i, p)}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-12 col-lg-3 col-center">

                                                    <label class="price">$</label>
                                                    &nbsp;&nbsp;
                                                    <mat-form-field appearance="outline" class="input-product-price center-text">
                                                        <input matInput formControlName="price" type="number">
                                                        <mat-error class="left-text">
                                                            {{getProductPriceError(i, p)}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                    &nbsp;&nbsp;
                                                    <label class="price">c/u</label>

                                                    <button class="btn-delete-product" mat-stroked-button
                                                        (click)="deleteProduct(i, p)">
                                                        <mat-icon>delete</mat-icon>
                                                        Borrar plato
                                                    </button>
                                                </div>

                                            </div>

                                        </ng-container>

                                        <mat-divider></mat-divider>

                                    </div>
                                </div>
                            </ng-container>
                        </mat-accordion>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>

            <br><br>

            <div class="row">
                <div class="col" style="text-align: right;">
                    <button type="submit" class="btn-submit">Guardar Cambios</button>
                </div>
            </div>

        </form>
    </div>

    <!--Footer-->
    <app-footer></app-footer>

</div>