.img-container {
    background:url(../../../assets/bg_home.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    background-attachment: fixed;
}

.principal-title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #fffdfa;
}

.title {
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  color: #3c0000;
  margin-top: 15px;
}

.money {
  color: #3c0000;
  font-size: 28px;
  margin-top: -10px;
}

.section-title {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 30px;
  text-align: center;
  color: #3c0000;
  @media only screen and (max-width: 600px) {
    font-size: 1.2rem;
  }
}

.mat-icon {
  color: red;
}

@mixin btn-baseStyles {
  color: #3c0000;
  background: #fff;
  border: 1px solid #e10000;
  box-sizing: border-box;
  border-radius: 10px;
  height: 43px;
  & ::ng-deep .mat-button-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    & .mat-icon {
      margin-right: 0.7rem;
    }
  }
}

.btn-add-accordion {
  @include btn-baseStyles;
  // width: 100%;
  min-width: 216px;
  margin-left: 8px;
}

.btn-accordion {
  color: #3c0000;
  background: white;
  border: 1px solid #e10000;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  width: 216px;
  height: 43px;
  pointer-events: auto;
}

.btn-delete {
  @include btn-baseStyles;
  min-width: 216px;
  pointer-events: auto;
  @media only screen and (max-width: 600px) {
    min-width: 56px;
    & ::ng-deep .mat-button-wrapper .txt-btn {
      display: none;
    }
    & ::ng-deep .mat-button-wrapper .mat-icon {
      margin-right: 0;
    }
  }
}

.btn-change-photo {
  @include btn-baseStyles;
  width: 100%;
  pointer-events: auto;
}

.btn-delete-product {
  @include btn-baseStyles;
  width: 100%;
  pointer-events: auto;
  margin-top: 10px;
}

.mat-expansion-panel {
  margin-top: 10px;
}

.mat-expansion-panel-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel-description {
  align-self: center;
  width: 100%;
  justify-content: center;
}

.title-icon-toggle {
  width: 30%;
  justify-content: flex-end;
}

.disabled-pointer {
  pointer-events: none;
}

.toggleIcon {
  pointer-events: auto;
  font-size: 40px;
  color: #3c0000;
}

.name-product {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #3c0000;
}

.input-product-name {
  width: 100%;
}

.input-product-price {
  width: 60%;
}

.input-product-description {
  width: 100%;
}

.price {
  color: #3c0000;
  font-weight: normal;
  font-size: 18px;
}

:host
  ::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #fff;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #fff;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0;
}

:host ::ng-deep .mat-form-field:hover {
  background-color: #fff;
}

.mat-input-element {
  color: #3c0000;
  font-weight: normal;
  font-size: 18px;
}

mat-divider {
  margin-top: 25px;
}

.panel-header {
  border: 1px solid;
  pointer-events: none;
}

.icon-edit {
  pointer-events: auto;
  cursor: pointer;
}

.title-input {
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .product-h-img {
    height: 165px;
  }
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}