@import "../../../styles.scss";

.anchor-layout {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
}

// Right-half of the container, welcome message.
.middle-half {
    background-color: #3C0000;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.8rem;
    padding: 2rem;
    
    .photo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

// Add padding to the welcome images.
.middle-half > * {
    padding: 2rem;
}


//Remove padding of dialog and make it round.
::ng-deep .mat-dialog-container {
    padding: 0;
    border-radius: 12px;
}


//Adjust the width of form fields.
mat-form-field {
    width: 75%;
    justify-self: center;
}


::ng-deep .custom-dialog > mat-dialog-container {
    background-color: var(--background);
}

::ng-deep.login-dialog .mat-dialog-container {
    padding: 9px;
    @include view-min(768px) {
        padding: 16px;
    }
    
}

.modal-body-login {
    overflow-y: auto;
    height: 90vh;
    width: auto;
    overflow-x: hidden;
}

