<!-- <div class="wrapper" *ngIf="this.isLoading">
  <app-spinner class="inner"></app-spinner>
</div> -->


<div class="grid-container" >   
    <div class="left-half">

      <h1>Iniciar Sesión</h1>

      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            formControlName="email"
            placeholder="Email"
          >
          <mat-error *ngIf="this.email.errors?.required">
            Debes ingresar tu Email!
          </mat-error>
        </mat-form-field> 

        <mat-form-field appearance="outline">
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Contraseña"
          >
          <mat-error *ngIf="this.password.errors?.required">
            Debes ingresar tu Contraseña!
          </mat-error>
        </mat-form-field>
        <div class="anchor-layout">
          <!-- Añadir enrutamiento olvidar contraseña -->
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>

        <button
          class="register-button"
          mat-raised-button
          type="submit"
          [disabled]="formLogin.invalid"
        >
          ¡Listo!
        </button>

      </form>

    </div>

    <div class="right-half">
      <div class="photo" style="background-image: url('../../../../assets/login-bienvenido-de-vuelta.svg');"></div>
      <div class="photo" style="background-image: url('../../../../assets/login-comida-icon.svg');"></div>
    </div>
</div>





