.mat-card {
    border-radius: 10px;
    background-color: #FFFDFA;
    // opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10%;
}

.mat-form-field-outline {
    background-color: #FFFDFA;
}

mat-card-title {
    color: #3c0000;
}

mat-form-field {
    font-weight: bold;
    width: 100%;
}

button {
    width: 70%;
    line-height: 2.3em;
    margin-top: .8em;
    color: white;
    background-color: #E10000;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
}

h2 {
    color: #3C0000;
    font-weight: 500;
}

mat-label {
    color: #3C0000;
}

.mat-option:hover {
    color: #3C0000;
}
