<mat-card class="mat-card">

    <div class="container" style="text-align: center;">
        <h2>
            Ahorra tiempo a la hora de salir a comer y paga por adelantado restaurantes, cafeterías y resto-bares.
        </h2>
    </div>

    <mat-card-content>
        <form [formGroup]="form">

            <div class="row">

                <div class="col-lg-3 col-md-6  d-flex justify-content-center">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre del Local</mat-label>
                        <input matInput formControlName="name" type="text">
                        <mat-error>
                            {{nameErrorMessage()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6  d-flex justify-content-center">
                    <mat-form-field appearance="outline">
                        <mat-label>Ingresa fecha de reserva</mat-label>
                        <input matInput formControlName="dateReservation" autocomplete="off" [matDatepicker]="picker" [min]="minDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>
                            {{dateReservationErrorMessage()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6  d-flex justify-content-center">
                    <mat-form-field appearance="outline">
                        <mat-label>Ingresa comuna</mat-label>
                        <mat-select formControlName="state">
                            <mat-option value="0">Seleccionar...</mat-option>
                            <mat-option value="1">Providencia</mat-option>
                        </mat-select>
                        <mat-error>
                            {{stateErrorMessage()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6  d-flex justify-content-center align-self-start">
                    <button mat-raised-button type="submit" (click)="searchRestaurants()">
                        Buscar
                    </button>
                </div>

            </div>
        </form>
        
    </mat-card-content>

</mat-card>