// CLASS ELEMENTS.

// Container
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

// Left-half of the container, login form.
.left-half {
    display: grid;
    padding: 0.8rem;
}

.anchor-layout {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
}

// Right-half of the container, welcome message.
.right-half {
    background-color: #3C0000;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.8rem;
    padding: 2rem;
    
    .photo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

// Add padding to the welcome images.
.right-half > * {
    padding: 2rem;
}

//TAG ELEMENTS
h1 {
    justify-self: center;
    color: #3C0000;
}

a {
    grid-column: 1 / 3;
    justify-self: end;
    color: #E10000;
    padding-top: 0.3em;
}

form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    button {
        max-width: 40%;
        min-width: 40%;
        max-height: 50%;
        min-height: 50%;
        margin: 0 auto;
        background-color: #E10000;
        color: white;
        border-radius: 12px;
    }
}

//ANGULAR ELEMENTS

//Remove padding of dialog and make it round.
::ng-deep .mat-dialog-container {
    padding: 0;
    border-radius: 12px;
}


//Adjust the width of form fields.
mat-form-field {
    width: 75%;
    justify-self: center;
}


//Adjust each half for smaller screens.
@media (max-width: 991px) {

    .grid-container {
        grid-template-rows: repeat(2, 1fr);
    }

    .left-half {
        grid-column: 1 / 3;
    }

    .right-half {
        grid-column: 1 / 3;
    }

}

@media (max-width: 616px) {
    a {
        grid-column: 1 / 4;
        justify-self: center;
    }
}