@import "../../../styles.scss";

@include view-min(990px) {
  .container-height {
    height: calc(100vh - 450px);
  }
}
@include view-min(1400px) {
  .container-height {
    height: calc(100vh - 480px);
  }
}

@include view-min(576px) {
  .text-center {
    text-align: center;
  }
}

h2.title-3 {
  font-weight: bold;
  padding-top: 18px;
  margin-bottom: 20px;
}

@include view-max(576px) {
  h2.title-3 {
    font-size: 28px;
    line-height: 2rem;
  }
}


mat-form-field {
  width: 100%;
}

@include view-min(576px) {
  mat-form-field {
    max-width: 380px;
  }
}





