.info-card {
    min-height: 30vh;
    max-height: 45vh;
    min-width: 45vh;
    max-width: 40vh;
    overflow-y: hidden;
    text-align: justify;
    border-radius: 10px;
}

p {
    font-size: 1.25em;
    font-weight: 300;
    color: #3C0000;
}

::ng-deep .mat-card-content > :last-child:not(.mat-card-footer), .mat-card > :last-child:not(.mat-card-footer) {
    margin-bottom: 16px;
    margin-top: 16px;
}