.b-register-button {
    width: 100%;
    background-color: #E10000;
    color: white;
    border-radius: 10px;
    font-weight: lighter;
    margin-block: 1%;
}




.mat-stroked-button {
    width: 100%;
    border-radius: 10px;
    border-color: #E10000;    
    background: #E10000;
    border-radius: 5px;
    width: 45%;
    color: #FFFDFA;
    font-size: large;
    font-weight: lighter;
}
