<div class="container-fluid" style="background-color: #3C0000; margin-top: 15%;">
    
    <div class="container">
        <div class="row" style="padding-top: 5%; padding-bottom: 5%;">
            <div class="col-lg-4 col-md-4">
                <a class="btn" href="#" role="button">Ver todos los locales</a>
                <br>
                <a class="btn" href="#" role="button">Sobre Nosotros</a>
                <br>
                <a class="btn"  routerLink= "/preguntas-frecuentes" >Preguntas frecuentes</a>
            </div> 
            <div class="col-lg-4 col-md-4">
                <a class="btn" href="#" role="button">Soporte Técnico</a>
                <br>
                <a class="btn" routerLink= "/privacidad" >Póliticas de Privacidad</a>
                <br>
                <a class="btn"  routerLink= "/reembolso" >Póliticas de reembolso</a>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-end align-self-stretch">
                <button mat-stroked-button class="btn btn-primary" type="button">¡Quiero unir mi Local!</button>
            </div>
        </div>
    </div>

</div>
