/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import '~swiper/swiper-bundle';

body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar {
    background: #F8D7DA;
    color:  #3C0000;
    .mat-simple-snackbar-action {
        color:  #3C0000;
    }
}

/*Correspondiente a los nombres de los campos*/
.label-input-name {
    padding-left: 5px;
    color: #3C0000;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}

/*Correspondiente a los parrafos y texto de descripciones*/
.parrafo {
    color: #3C0000;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.parrafo-16 {
    color: #3C0000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

.titulo-2 {
    color: #3C0000;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
}

.titulo-3 {
    color: #3C0000;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
}

.titulo-4 {
    color: #3C0000;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

/*Inputs*/
.mat-form-field-outline {
    background-color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #BFBFBF;
}
  
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #3C0000;
}

/*stepper*/
.mat-step-header .mat-step-icon-state-edit {
    background-color: red;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

/* Grid */
.col-center {
    text-align: center;
}

.col-right {
    text-align: right;
}

/* End Grid */

/* Buttons */

.btn-normal {
    cursor: pointer;
    color: #3C0000;
    background-color: white;
    border: 1px solid #E10000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 255px;
    height: 40px;
    font-size: 20px;
}

.btn-normal:hover {
    background-color: #E10000;
    color:white;
}

.btn-normal-red {
    cursor: pointer;
    color: #E10000;
    background-color: white;
    border: 1px solid #E10000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 255px;
    height: 40px;
    font-size: 20px;
}

.btn-normal-red:hover {
    background-color: #E10000;
    color:white;
}

.btn-submit {
    cursor: pointer;
    color: white;
    background-color: #E10000;
    border: 1px solid #E10000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 255px;
    height: 40px;
    font-size: 20px;
}

.btn-close {
    cursor: pointer;
    border-style: none;
    background-color: #fff;
    font-size: 1.5em;
    color: #3C0000;
}

@media only screen and (max-width: 768px) {
    .btn-normal {
        width: 100%;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .btn-normal-red {
        width: 100%;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .btn-submit {
        width: 100%;
        font-size: 15px;
        margin-bottom: 10px;
    }
}

/* End Buttons */