/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import "~swiper/swiper-bundle";

@import "styles/main";


/*Correspondiente a los nombres de los campos*/
.label-input-name {
  padding-left: 5px;
  color: $primary;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

/*Correspondiente a los parrafos y texto de descripciones*/
.parrafo {
  color: $primary;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.parrafo-16 {
  color: $primary;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.titulo-2 {
  color: $primary;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
}

.titulo-3 {
  color: $primary;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
}

.titulo-4 {
  color: $primary;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
}

.titulo-5 {
  color: $primary;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
}

.titulo-6 {
  color: $primary;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 30px;
}

.titulo-7 {
  color: $primary;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 43px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.border-rounded {
  border-radius: 10px;
}

/* Grid */
.col-center {
  text-align: center;
}

.col-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/* End Grid */

/* Buttons */

@media only screen and (max-width: 768px) {
  .btn-normal {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .btn-normal-red {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .btn-submit {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
  }
}

/* End Buttons */

@mixin view-min($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
@mixin view-max($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

::ng-deep.business-profile-dialog .mat-dialog-container {
  padding: 9px;
  @include view-min(768px) {
    padding: 16px;
  }
}
