/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import "~swiper/swiper-bundle";

@font-face {
  font-family: Railway;
  src: url(assets/font/Raleway-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Railway', Roboto, "Helvetica Neue", sans-serif;
}

.error-snackbar {
  background: #f8d7da;
  color: #3c0000;
  .mat-simple-snackbar-action {
    color: #3c0000;
  }
}

.success-snackbar {
  background: #e1faf2;
  color: #3c0000;
  .mat-simple-snackbar-action {
    color: #3c0000;
  }
}

/*Correspondiente a los nombres de los campos*/
.label-input-name {
  padding-left: 5px;
  color: #3c0000;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

/*Correspondiente a los parrafos y texto de descripciones*/
.parrafo {
  color: #3c0000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.parrafo-16 {
  color: #3c0000;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.titulo-2 {
  color: #3c0000;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
}

.titulo-3 {
  color: #3c0000;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
}

.titulo-4 {
  color: #3c0000;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
}

.titulo-5 {
  color: #3c0000;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
}

.titulo-6 {
  color: #3c0000;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 30px;
}

.titulo-7 {
  color: #3c0000;
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 43px;
}

/*Inputs*/
.mat-form-field-outline {
  background-color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #bfbfbf;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #3c0000;
}

mat-label {
  color: #3c0000;
}

/*stepper*/
.mat-step-header .mat-step-icon-state-edit {
  background-color: red;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.border-rounded {
  border-radius: 10px;
}

/* Grid */
.col-center {
  text-align: center;
}

.col-right {
  text-align: right;
}

/* End Grid */

/* Buttons */

.btn-normal {
  cursor: pointer;
  color: #3c0000;
  background-color: white;
  border: 1px solid #e10000 !important;
  box-sizing: border-box;
  border-radius: 10px !important;
  width: 255px;
  height: 40px;
  font-size: 20px;
  font-weight: 250;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn-normal:hover {
  background-color: #e10000;
  color: white;
}

.btn-normal-red {
  cursor: pointer;
  color: #e10000;
  background-color: white;
  border: 1px solid #e10000 !important;
  box-sizing: border-box;
  border-radius: 10px !important;
  width: 255px;
  height: 40px;
  font-size: 18px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn-normal-red:hover {
  background-color: #e10000;
  color: white;
}

.btn-submit {
  cursor: pointer;
  color: white;
  background-color: #e10000;
  box-sizing: border-box;
  border-radius: 10px !important;
  width: 255px;
  height: 40px;
  font-size: 20px;
  // box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
  //   0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn-close {
  cursor: pointer;
  border-style: none;
  background-color: #fff;
  font-size: 1.5em;
  color: #3c0000;
}

.btn-disabled {
  cursor: pointer;
  color: white;
  background-color: #aaaaaa;
  border: 1px solid #aaaaaa !important;
  box-sizing: border-box;
  border-radius: 10px !important;
  width: 255px;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn-facebook {
  cursor: pointer;
  color: white;
  background-color: #2f80ed;
  box-sizing: border-box;
  border: 1px solid #2f80ed !important;
  border-radius: 10px !important;
  width: 255px;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn-google {
  cursor: pointer;
  color: black;
  border: 1px solid gray !important;
  box-sizing: border-box;
  border-radius: 10px !important;
  width: 255px;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

@media only screen and (max-width: 768px) {
  .btn-normal {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .btn-normal-red {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .btn-submit {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
  }
}

/* End Buttons */
