<div class="grid-container">
  <app-close-modal></app-close-modal>
  <div class="row mx-0 justify-content-center">
    <div class="col-12 px-0">
      <p class="my-4 txt-dialog">Editar Contraseña</p>
    </div>
    <form [formGroup]="this.updatePasswordBusinessProfileForm" (ngSubmit)="updatePassword()">
      <div class="col-12 px-0">
        <!-- <label class="d-block pl-2">Contraseña Actual:</label> -->
        <mat-form-field appearance="outline" class="wrap-inputs">
          <mat-label>Ingresa tu actual *</mat-label>
          <input formControlName="currentPassword" matInput type="password" />
          <mat-error>
            {{ getCurrentPasswordError() }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 px-0 mb-3">
        <!-- <label class="d-block pl-2">Contraseña Nueva:</label> -->
        <mat-form-field appearance="outline" class="wrap-inputs">
          <mat-label>Ingresa tu nueva contraseña *</mat-label>
          <input formControlName="newPassword" matInput type="password" />
          <mat-error>
            {{ getNewPasswordError() }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 px-0 mb-3">
        <!-- <label class="d-block pl-2">Repetir Contraseña:</label> -->
        <mat-form-field appearance="outline" class="wrap-inputs">
          <mat-label>Confirma tu nueva contraseña *</mat-label>
          <input formControlName="confirmPassword" matInput type="password" />
          <mat-error>
            {{ getConfirmPasswordError() }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-center px-0 mb-4">
        <button mat-raised-button class="btn-password" type="submit">Guardar</button>
      </div>
    </form>
  </div>
</div>
