@mixin view-min($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

::ng-deep.business-profile-dialog .mat-dialog-container {
    padding: 9px;
    @include view-min(768px) {
        padding: 16px;
    }
}

.close {
  padding: 0 8px;
  min-width: 40px;
  & span {
    font-size: 1.6rem;
    color: #3C0000;
  }
}

.txt-dialog {
  color: #3C0000;
  font-size: 1.6rem;
  text-align: center;
  @include view-min(992px) {
    font-size: 2.2rem;
  }
}

.wrap-inputs {
  min-width: 292px;
  
  & ::ng-deep .mat-form-field-outline-start {
    border-radius: 10px 0 0 10px;
    min-width: 10px;
  }
  & ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 10px 10px 0 !important;
  }
}

.btn-password {
  background-color:#E10000;
  border-radius: 10px;
  color: #FFFDFA;
  min-width: 197px;
  min-height: 40px;
}