<div class="container">

  <!--Nombre del local-->
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-6 col-lg-4">
      <h3 class="titulo-2 titulo-principal">Juan y Medio</h3>
    </div>
  </div>

  <div class="row ml-2">
    <div class="col ml-2">
      <h3 class="titulo-4">Mis Datos</h3>
    </div>
  </div>

  <!--Datos principales del local-->
  <mat-card>
    <div class="row ml-1">
      <div class="col-md-4 col-lg-4">
        <h4 class="titulo">Nombre del local</h4>
        <p class="subtitulo">Los vikingos</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <h4 class="titulo">Teléfono</h4>
        <p class="subtitulo">+56 9 6585 6514</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <h4 class="titulo">Dirección del local</h4>
        <p class="subtitulo">Avenida Grecia #544</p>
      </div>
    </div>

    <div class="row ml-1">
      <div class="col-md-4 col-lg-4">
        <h4 class="titulo">Email</h4>
        <p class="subtitulo">contacto@vikingos.cl</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <h4 class="titulo">Nombre encargado</h4>
        <p class="subtitulo">María Guzmán</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <h4 class="titulo">Rut encargado</h4>
        <p class="subtitulo">12.345.678-9</p>
      </div>
    </div>

    <div class="row pt-5 justify-content-center">
      <div class="col-6 col-md-4 col-lg-4 col-center">
        <button class="btn-normal" (click)="openEditDataComponent()">Editar mis datos</button>
      </div>
      <div class="col-6 col-md-4 col-lg-4 col-center">
        <button class="btn-normal" (click)="openEditPasswordComponent()">Editar contraseña</button>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-center">
        <button class="btn-normal" (click)="openEditBankDataComponent()">Ver mis datos bancarios</button>
      </div>
    </div>

  </mat-card>

  <mat-card class="mat-card-pt-4">

    <div class="row ml-1 pt-3">

      <div class="col-lg-6 col-center">
        <h4 class="titulo pb-3">Horario y días de funcionamiento:</h4>
        <p class="subtitulo">Martes y sábado 12:30 a 23:30</p>
        <p class="subtitulo">Domingo 14:30 a 21:00</p>
        <button class="btn-normal" (click)="openEditWorkDaysComponent()">Editar Horarios</button>
      </div>

      <div class="col-lg-6 pt-5 col-center">
        <img src="./../../../../assets/aceptan_mascotas.svg"/>
        <h4 class="titulo-4">Aceptan mascotas</h4>
      </div>
    </div>

  </mat-card>

</div>