<div class="container">
  <div class="row mb-5 pt-3 align-items-center">
    <div class="col-lg-5">
      <div class="logo">
        <img [src]="getLogo()" class="img-logo" routerLink="/" />
      </div>
    </div>
    <div class="col-lg-3 d-flex align-items-end">
      <div class="b-register-button">
        <a mat-stroked-button (click)="redirectToBusinessRegistration()"
          >¿Quieres unir tu local?</a
        >
      </div>
    </div>
    <div class="col-lg-2 d-flex align-items-end">
      <div class="normal-button">
        <a mat-stroked-button (click)="openLoginDialog()">Iniciar Sesión</a>
      </div>
    </div>
    <div class="col-lg-2 d-flex align-items-end">
      <div class="normal-button">
        <a mat-stroked-button (click)="openRegistrationDialog()">Registrate</a>
      </div>
    </div>
  </div>
</div>
