@import "typography";
@import "../colors";

.btn-normal-red {
  cursor: pointer;
  color: $secondary;
  background-color: $basic-light;
  border: 1px solid $secondary !important;
  box-sizing: border-box;
  border-radius: 10px !important;
  width: 100%;
  height: 40px;
  font-size: 18px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
  0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn-normal {
  cursor: pointer;
  color: $primary;
  background-color: $basic-light;
  border: 1px solid $secondary !important;
  box-sizing: border-box;
  border-radius: 10px !important;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: 250;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
  0 1px 5px 0 rgb(0 0 0 / 12%);
}



.btn-normal:hover {
  background-color: $secondary;
  color: $basic-light;
}



.btn-normal-red:hover {
  background-color: $secondary;
  color: $basic-light;
}

.btn-submit {
  cursor: pointer;
  color: $basic-light;
  background-color: $secondary;
  box-sizing: border-box;
  border-radius: 10px !important;
  width: 100%;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn-close {
  cursor: pointer;
  border-style: none;
  background-color: $basic-light;
  font-size: 1.5em;
  color: $primary;
}

.btn-disabled {
  cursor: pointer;
  color: $basic-light;
  background-color: $disable;
  border: 1px solid $disable !important;
  box-sizing: border-box;
  border-radius: 10px !important;
  width: 100%;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
  0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn-facebook {
  cursor: pointer;
  color: $basic-light;
  background-color: $primary-facebook;
  box-sizing: border-box;
  border: 1px solid $primary-facebook !important;
  border-radius: 10px !important;
  width: 100%;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
  0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn-google {
  cursor: pointer;
  color: $basic-dark;
  border: 1px solid $disable !important;
  box-sizing: border-box;
  border-radius: 10px !important;
  width: 100%;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
  0 1px 5px 0 rgb(0 0 0 / 12%);
}


.google-icon{
  max-width: 13px;
  max-height: 13px;
  justify-content: center;
  align-items: center;
}
.facebook-icon{
  max-width: 13px;
  max-height: 13px;
  justify-content: center;
  align-items: center;
}